{% extends "layout.html" %}

{% block pageTitle %}
Landlord's Residential Chargepoint Grant dashboard
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="preDashboard">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="clients.html">View your clients</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="property-type.html">Your Landlord's Chargepoint Grants</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Landlord's Residential Chargepoint Grant dashboard</a>
      </li>
    </ol>
  </div>
</nav>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Blue Tick Properties</span>
    <h1 class="govuk-heading-xl" style="margin-bottom:10px">Landlord's Residential Chargepoint Grant dashboard</h1>
    <p><a href="#">View account details</a></p>
  </div>
</div>

<br>
<br>


    <a class="govuk-button" href="declaration.html">Start a new application</a>
    <p>You can claim for <span class="govuk-body govuk-!-font-weight-bold">175</span> more chargepoint sockets this year</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third govuk-!-margin-top-2">
        <label class=" govuk-heading-m" for="filter-country-applications-by-status">
            Filter by
          </label>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Reference
          </label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Name
          </label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
        </div>
        <p>Status</p>
        <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
                Sent to installer (1)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
              <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                Confirm claim (2)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
              <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                Completed by installer (2)
              </label>
            </div>
          </div>
    
    
        </fieldset>

        <br>

    <p>
      <a href="#">
        Apply filter
      </a>
    </p>
    
      </div>
    
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Electric City Installer's applications</h2>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Reference number</th>
                  <th scope="col" class="govuk-table__header">Postcode</th>
                  <th scope="col" class="govuk-table__header">Status</th>
                  <th scope="col" class="govuk-table__header">Action</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">#390466</th>
                  <td class="govuk-table__cell">PH1 1XX</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Confirm claim</strong></td>
                  <td class="govuk-table__cell"><a href="confirmClaim.html">View application</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">#209048</th>
                  <td class="govuk-table__cell">DD1 1XX</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed by installer</strong></td>
                  <td class="govuk-table__cell"><a href="installerCompleted.html">View application</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">#864442</th>
                  <td class="govuk-table__cell">SY1 1XX</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Sent to installer</strong></td>
                  <td class="govuk-table__cell"><a href="#">View application</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">#098521</th>
                  <td class="govuk-table__cell">L1 1XX</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Confirm claim</strong></td>
                  <td class="govuk-table__cell"><a href="#">View application</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">#122154</th>
                  <td class="govuk-table__cell">ZE1 1XX</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed by installer</strong></td>
                  <td class="govuk-table__cell"><a href="#">View application</a></td>
                </tr>
              </tbody>
            </table>
    
    
      </div>
    </div>

</div>
</div>

{% endblock %}
