{% extends "layout.html" %}

{% block pageTitle %}
Your Landlord Chargepoint Grant clients
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" style="margin-bottom:10px">Your Landlord's Chargepoint Grants clients</h1>
    <span class="govuk-caption-m">You are signed in as: DTB Properties</span>
    <p><a href="#">View account details</a></p>
  </div>
</div>

<br>
<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a class="govuk-heading-m" href="#">Add a new client</a>
    <p>Add a new client to submit applications on their behalf</p>
  </div>

  <div class="govuk-grid-column-one-half">
    <a class="govuk-heading-m" href="clients">View your clients</a>
    <p>View clients that you have added and submitted applications for</p>
  </div>
</div>

</div>
</div>

{% endblock %}