{% extends "layout.html" %}

{% block pageTitle %}
EHVS Home
{% endblock %}

{% block beforeContent %}

<style type="text/css">

.govuk-tag {
      font-size: 14px!important;

      }

/* .govuk-tag--yellow {
    font-size: 14px;
    border: 1px solid;
    padding: 4px 6px 2px 6px;
    line-height: auto;
    font-weight: 700;
    margin-left: 5px;
    background: #fff;
    color: #c5490a !important;
    border:1px solid #c5490a;
    }
    .govuk-tag
    .red {
    font-size: 14px;
    border: 1px solid;
    padding: 4px 6px 2px 6px;
    line-height: auto;
    font-weight: 700;
    margin-left: 5px;
    background: #fff;
    color: #b10e1e !important;
    border:1px solid #b10e1e;
    }

    .govuk-tag--green {
    font-size: 14px;
    border: 1px solid;
    padding: 4px 6px 2px 6px;
    line-height: auto;
    font-weight: 700;
    margin-left: 5px;
    background: #fff;
    color: 	#00703c!important;
    border:1px solid 	#00703c;
    }

    .govuk-tag--blue {
    font-size: 14px;
    border: 1px solid;
    padding: 4px 6px 2px 6px;
    line-height: auto;
    font-weight: 700;
    margin-left: 5px;
    background: #fff;
    color: 	#1d70b8!important;
    border:1px solid 	#1d70b8;
    } */


table th, table td {
    text-transform: none;
    font-size: 16px !important;
}



    </style>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Landlord Chargepoint Grant </a>
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Landlord Chargepoint Grant</h1>
</div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third govuk-!-margin-top-2">
    <label class=" govuk-heading-m" for="filter-country-applications-by-status">
        Filter by
      </label>
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-postcode">
        Reference
      </label>
      <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-postcode">
        Name
      </label>
      <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-postcode">
        Postcode
      </label>
      <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
    </div>
    <p>Status</p>
    <fieldset class="govuk-fieldset">
      <div class="govuk-checkboxes govuk-checkboxes--small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
          <label class="govuk-label govuk-checkboxes__label" for="organisation">
            Start claim (10)
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
            Rejected (4)
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
            Under review (2)
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
            Claim submitted (25)
          </label>
        </div>
      </div>


    </fieldset>

  <a class="govuk-button govuk-!-margin-top-5" data-module="govuk-button" href="checkYourAnswers.html">
    Apply filter
  </a>

  </div>

  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table govuk-body-s" >
      <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-top-3">List of applications</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">

          <th scope="col" class="govuk-table__header " aria-sort="ascending"><button type="button" data-index="0">Reference number</button></th>

          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="1">Customer name</button></th>

          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="1">Postcode</button></th>

          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none"><button type="button" data-index="2">Status</button></th>

        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="declaration">#893903</a></th>
          <td class="govuk-table__cell">Blue Tick Properties</td>
          <td class="govuk-table__cell">XX12 XXN</td>
          <td class="govuk-table__cell" style="text-align: right"><span><a href="declaration"><strong class="govuk-tag govuk-tag--blue">Start claim</strong></span></td>
          <!-- <td class="govuk-table__cell"><a href="declaration.html">View application</a></td> -->
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#">#473320</a></th>
          <td class="govuk-table__cell">JLB Homes</td>
          <td class="govuk-table__cell">XX12 XXN</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--red">REJECTED</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#">#949032</a></th>
          <td class="govuk-table__cell">Homezone</td>
          <td class="govuk-table__cell">XX12 XXN</td>
          <td class="govuk-table__cell" style="text-align: right"><strong class="govuk-tag govuk-tag--green">claim submitted</strong></td>
          <!-- <td class="govuk-table__cell"><a href="#">View application</a></td> -->
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#">#210334</a></th>
          <td class="govuk-table__cell">Habitat Homes</td>
          <td class="govuk-table__cell">XX12 XXN</td>
          <td class="govuk-table__cell" style="text-align: right"><strong class="govuk-tag govuk-tag--green">claim submitted</strong></td>
          <!-- <td class="govuk-table__cell"><a href="#">View application</a></td> -->
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#">#819335</a></th>
          <td class="govuk-table__cell">It's Coming Homes</td>
          <td class="govuk-table__cell">XX12 XXN</td>
          <td class="govuk-table__cell" style="text-align: right"><strong class="govuk-tag govuk-tag--green">claim submitted</strong></td>
          <!-- <td class="govuk-table__cell"><a href="#">View application</a></td> -->
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#">#555021</a></th>
          <td class="govuk-table__cell">Ruth Smith Homes</td>
          <td class="govuk-table__cell">XX12 XXN</td>
          <td class="govuk-table__cell" style="text-align: right"><strong class="govuk-tag govuk-tag--red">REJECTED</strong></td>
          <!-- <td class="govuk-table__cell"><a href="#">View application</a></td> -->
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#">#484430</a></th>
          <td class="govuk-table__cell">Tayside Lettings</td>
          <td class="govuk-table__cell">XX12 XXN</td>
          <td class="govuk-table__cell" style="text-align: right"><span class="govuk-tag govuk-tag--yellow">Under review</span></td>
          <!-- <td class="govuk-table__cell"><a href="#">View application</a></td> -->
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#">#549304</a></th>
          <td class="govuk-table__cell">EZ Lets</td>
          <td class="govuk-table__cell">XX12 XXN</td>
          <td class="govuk-table__cell" style="text-align: right"><strong class="govuk-tag govuk-tag--red">REJECTED</strong></td>
          <!-- <td class="govuk-table__cell"><a href="#">View application</a></td> -->
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#">#438552</a></th>
          <td class="govuk-table__cell">Snowdonia Properties</td>
          <td class="govuk-table__cell">XX12 XXN</td>
          <td class="govuk-table__cell" style="text-align: right"><span class="govuk-tag govuk-tag--yellow">UNDER REVIEW</span></td>
          <!-- <td class="govuk-table__cell"><a href="#">View application</a></td> -->
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#">#100554</a></th>
          <td class="govuk-table__cell">Hill's Houses</td>
          <td class="govuk-table__cell">XX12 XXN</td>
          <td class="govuk-table__cell" style="text-align: right"><strong class="govuk-tag govuk-tag--green">claim submitted</strong></td>
          <!-- <td class="govuk-table__cell"><a href="#">View application</a></td> -->
        </tr>
      </tbody>
    </table>

          <nav class="moj-pagination" id="pagination-label">

            <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

            <ul class="moj-pagination__list">
              <li class="moj-pagination__item  moj-pagination__item--prev">
                <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
              </li>

              <li class="moj-pagination__item moj-pagination__item--Completed">1</li>

              <li class="moj-pagination__item"><a class="moj-pagination__link" href="#">2</a></li>

              <li class="moj-pagination__item"><a class="moj-pagination__link" href="#">3</a></li>

              <li class="moj-pagination__item  moj-pagination__item--next">
                <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
              </li>
            </ul>
            <p class="moj-pagination__results">Showing <b>1</b> to <b>10</b> of <b>30</b> results</p>
          </nav>

    </div>
  </div>

  {% endblock %}
