{% extends "layout.html" %}

{% block pageTitle %}
Check your answers before sending your application
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav> -->
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Blue Tick Properties</span>

    <h1 class="govuk-heading-xl">View application #893903</h1>

    <p>Your claim has been accepted for payment by OZEV on August 19 2021. You will receive the money for the installation within 14 working days.</p>



    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status of application
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--green">Accepted by OZEV</strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Customer name
        </dt>
        <dd class="govuk-summary-list__value">
          Chris Groves
        </dd>
      </div>
    </dl>

    <h1 class="govuk-heading-m">Address details</h1>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Address</th>
          <th scope="col" class="govuk-table__header">Number of sockets</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">14 Royal Road,<br>London,<br>EC1R 1BC</th>
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell"><a href="chargepointModel.html">View</td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">37 Scott Street,<br>London,<br>WC1N 1BC</th>
          <td class="govuk-table__cell">7</td>
          <td class="govuk-table__cell"><a href="#">View</td>
        </tr>
      </tbody>
    </table>


    <h2 class="govuk-heading-m">Details of first chargepoint type</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Chargepoint manufacturer, family and model
        </dt>
        <dd class="govuk-summary-list__value">
          Char.gy<br>CP01<br>CP01
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Amount of chargepoints installed
        </dt>
        <dd class="govuk-summary-list__value">
          1
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Serial number
        </dt>
        <dd class="govuk-summary-list__value">
          B8J6HI7909
        </dd>
      </div>
    </dl>



    <h2 class="govuk-heading-m">Details of second chargepoint type</h2>



    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Chargepoint manufacturer, family and model
        </dt>
        <dd class="govuk-summary-list__value">
          Char.gy<br>CP02<br>CP02
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Amount of chargepoints installed
        </dt>
        <dd class="govuk-summary-list__value">
          1
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Serial number
        </dt>
        <dd class="govuk-summary-list__value">
          J5E2HB3855
        </dd>
      </div>
      </dl>



      <h2 class="govuk-heading-m">Evidence</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Proof of installation
        </dt>
        <dd class="govuk-summary-list__value">
          image.png<br>image2.png<br>image3.png<br>image4.png
        </dd>
      </div>
    </dl>

   <!-- <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Address</th>
          <th scope="col" class="govuk-table__header">Number of sockets</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">14 Royal Road,<br>London,<br>EC1R 1BC</th>
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell"><a href="chargepointModel.html">Review</td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">37 Scott Street,<br>London,<br>WC1N 1BC</th>
          <td class="govuk-table__cell">7</td>
          <td class="govuk-table__cell"><a href="#">Review</td>
        </tr>
      </tbody>
    </table>-->

    <h1 class="govuk-heading-m">Other details</h1>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Date that installations were completed</th>
          <td class="govuk-table__cell">21 July 2021</td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Total cost of installations</th>
          <td class="govuk-table__cell">£3092.03</td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Proof of customer invoice</th>
          <td class="govuk-table__cell">invoice.jpg</td>
        </tr>
      </tbody>
    </table>


  </div>
</div>


{% endblock %}
