{% extends "layout.html" %}

{% block pageTitle %}
Enter your customer's contact details
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Identify your business
          </h1>
        </legend>
        <p class="govuk-body">We will use this information to confirm your business details.</p>
        <div id="contact-hint" class="govuk-hint">
          Select one option.
        </div>
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
            <label class="govuk-label govuk-radios__label" for="contact">
              Companies House registration number
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Enter Companies House registration number
              </label>
              <input class="govuk-input govuk-!-width-one-half" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false" autocomplete="email"></div>

          </div>
          <!-- <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
            <label class="govuk-label govuk-radios__label" for="contact-2">
              Private Registered Providers of Social Housing number
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-phone">
                Enter Private Registered Providers of Social Housing number
              </label>
              <input class="govuk-input govuk-!-width-one-half" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel"></div>

          </div> -->
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
            <label class="govuk-label govuk-radios__label" for="contact-3">
              VAT registration number
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-text">
                Enter VAT registration number
              </label>
              <input class="govuk-input govuk-!-width-one-half" id="contact-by-text" name="contact-by-text" type="tel" autocomplete="tel"></div>

          </div>
          <!-- <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-4" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-4">
            <label class="govuk-label govuk-radios__label" for="contact-4">
              Charity number
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-4">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-text">
                Enter Charity number
              </label>
              <input class="govuk-input govuk-!-width-one-half" id="contact-by-text" name="contact-by-text" type="tel" autocomplete="tel"></div>

          </div> -->
        </div>

      </fieldset>
    </div>

    <div class="govuk-button-group">
      <a class="govuk-button" data-module="govuk-button" href="confirm-business-details.html">
        Continue
      </a>
    </div>

  </div>
</div>


{% endblock %}
