{% extends "layout.html" %}

{% block pageTitle %}
Check your answers before sending your application
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check your answers</h1>


          <h2 class="govuk-heading-m">Account details</h2>


          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Registered email
              </dt>
              <dd class="govuk-summary-list__value">
                john.doe@pmc.co.uk
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="account-type">
                  Change<span class="govuk-visually-hidden"> previous application number</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contact number
              </dt>
              <dd class="govuk-summary-list__value">
                +44 07732 780434
              </dd>
              <dd class="govuk-summary-list__actions">
                <!-- <a class="govuk-link" href="contact">
                  Change<span class="govuk-visually-hidden"> previous application number</span>
                </a> -->
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type of account
              </dt>
              <dd class="govuk-summary-list__value">
                Property Management Company
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="account-type">
                  Change<span class="govuk-visually-hidden"> previous application number</span>
                </a>
              </dd>
            </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              John Doe
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="contact">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Role within the business
            </dt>
            <dd class="govuk-summary-list__value">
              Property manager
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="contact">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>

      </dl>

<h2 class="govuk-heading-m">Business details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <!-- <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
              Public authority
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div> -->

          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Linked enterprise
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div> -->

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Business details
              </dt>
              <dd class="govuk-summary-list__value">
                <b>Companies House registration number</b>
                <br>12050845
                <br><br><b>Business name</b>
                <br>
                Westside Properties
                <br><br><b>Business address</b>
                <br>Kemp House 160 City Road
                <br>London, England
                <br>WS1V 2NX
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> previous application number</span>
                </a>
              </dd>
            </div>
            <!-- <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type of properties owned
              </dt>
              <dd class="govuk-summary-list__value">
                Residential<br>
                Commercial
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> previous application number</span>
                </a>
              </dd>
            </div> -->
        </dl>
        </div>
        </div>


        <div class="govuk-button-group">
          <a class="govuk-button" data-module="govuk-button" href="declaration">
            Confirm and continue
          </a>
        </div>


  </div>
</div>


{% endblock %}
