{% extends "layout-installer.html" %}

{% block pageTitle %}
What was the date of installation? -
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
        <h1 class="govuk-heading-xl">Setting up an installer account</h1>

      <!--   <h2 class="govuk-heading-m">New installers</h2>

        <p>If you are a new installer, you will first need to apply to be an OZEV authorised installer before you can use this service.</p>

        <p>You will be redirected to a diffrent service.</p>

        <div class="govuk-button-group">
          <a class="govuk-button" data-module="govuk-button" href="https://forms.dft.gov.uk/ozev-authorised-installer-application/">
            Apply to be an authorised installer
          </a>
        </div>


        <h2 class="govuk-heading-m govuk-!-margin-top-7">Authorised installers</h2>

        <p>If you are an authorised installer, you will can request a link to create a password and access this service for the first time.</p>

        <p>You will need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>The email address you have registered with OZEV</li>
          <li>Your installer authorisation number</li>
        </ul> -->

          <h2 class="govuk-heading-m govuk-!-margin-top-7">Installers without OZEV authorisation</h2>

        <p class="govuk-body">You need to be an OZEV authorised installer before you can use this service.</p>

       <p class="govuk-body">You will be redirected to a different service.</p>

        <div class="govuk-button-group govuk-!-margin-top-5">
          <a class="govuk-button" data-module="govuk-button" href="https://forms.dft.gov.uk/ozev-authorised-installer-application/">
            Apply to be an authorised installer
          </a>
        </div>

        <h2 class="govuk-heading-m govuk-!-margin-top-7">OZEV authorised installers</h2>

        <p class="govuk-body">If you are an OZEV authorised installer, you can request a link to use this service for the first time.</p>


        <p class="govuk-body">You will need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the email address you used to register with OZEV</li>
          <li>your OZEV installer authorisation number</li>
        </ul>

    <div class="govuk-button-group govuk-!-margin-top-5">
      <a class="govuk-button" data-module="govuk-button" href="request-link">
        Request link to create password
      </a>
    </div>


  </div>
</div>


{% endblock %}
