{% extends "layout-installer-mvp.html" %}

{% block pageTitle %}
Rejected claim
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="rejectedOZEV2.html">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav> -->
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Resubmit invoice</h1>

    <h2 class="govuk-heading-m govuk-!-margin-top-5">What was wrong</h2>
    <p>Total cost of installation not included in the invoice. Please provide a new invoice which shows the total cost of the installation.</p>
<br>

<div>
    <h2 class="govuk-heading-m">Files previously added</h2>


    <p>Files added to the claim</p>

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          File 1
        </dt>
        <dd class="govuk-summary-list__value">
          <a download href="/" class="govuk-link">invoice.jpg</a>
        </dd>

        <dd class="govuk-summary-list__actions">

          <strong class="govuk-tag govuk-tag--red" style="font-size: 16px !important">Rejected</strong>

        </dd>

      </div>

    </dl>

        </div>

  <div class="govuk-!-margin-top-7">

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Add new invoice</h2>


      <form action="">
        <div class="govuk-form-group">
          <label class="govuk-label" for="file-upload-1">
            Add a new file
          </label>
          <p class="govuk-!-margin-top-1 govuk-hint">The invoice must be a pdf, jpg or jpeg file.<br> Maximum upload size: 10MB</p>
          <!-- <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file" multiple> -->
          <!-- <input type="submit"> -->
          <div class="moj-multi-file-upload__dropzone"><input class="govuk-file-upload moj-multi-file-upload__input" id="documents" name="documents" type="file" multiple=""><p class="govuk-body">Drag and drop files here or</p><label for="documents" class="govuk-button govuk-button--secondary">Choose files</label><div aria-live="polite" role="status" class="govuk-visually-hidden">Uploading files, please wait</div></div>
        </div>
        <!-- <button class="govuk-button govuk-button--secondary moj-multi-file-upload__button" data-module="govuk-button">
            Upload photos
        </button> -->
      <form action="/action_page.php">

  </div>


  <div class="govuk-!-margin-top-7">
    <a class="govuk-button" href="confirmResubmit.html">Resubmit claim</a>
  </div>


  </div>
</div>


{% endblock %}
