{% extends "layout-installer.html" %}

{% block pageTitle %}
Check your answers before sending your application
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav> -->
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Review customer application</h1>

    <p class="govuk-body">Sherborne Properties have sent this application. Check the details are correct before you start the installation.  </p>

    <p class="govuk-body">Submit this claim after you have completed the installation at the address listed below.</p>

    <h1 class="govuk-heading-m govuk-!-margin-top-5">Claim summary</h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grant type
          </dt>
          <dd class="govuk-summary-list__value">
            Residential landlord
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reference number
          </dt>
          <dd class="govuk-summary-list__value">390466
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Customer name
          </dt>
          <dd class="govuk-summary-list__value">
            Sherborne Properties
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Installer name
          </dt>
          <dd class="govuk-summary-list__value">
            Electric City Installers
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Installer OZEV's number
          </dt>
          <dd class="govuk-summary-list__value">
            835722
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status of application
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--blue">Ready to Claim</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date you need to submit this claim by
          </dt>
          <dd class="govuk-summary-list__value">
            13 October 2021
          </dd>
        </div>

      </dl>


    <h1 class="govuk-heading-m">Installation details</h1>


    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Private parking
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <!-- Change<span class="govuk-visually-hidden"> xxx</span> -->
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Installation address
        </dt>
        <dd class="govuk-summary-list__value">
          14 Royal Road,<br>London,<br>EC1R 1XS
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <!-- Change<span class="govuk-visually-hidden"> xxx</span> -->
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Number of chargepoints
        </dt>
        <dd class="govuk-summary-list__value">
          2
        </dd>
        <dd class="govuk-summary-list__actions">
        <!--   <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> xxx</span>
          </a>-->
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Number of chargepoint sockets
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <!--<a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> xxx</span>
          </a>-->
        </dd>
      </div>
    </dl>

    <div class="govuk-inset-text">
      <p class="govuk-body">If the details are not correct, ask your customer to cancel this application. They can submit a new application.</p>
    </div>




    <!-- <p><a class="govuk-button govuk-button--secondary" href="declaration.html">Change number of chargepoint sockets</a></p> -->
    <p><a class="govuk-button govuk-!-margin-top-3" href="declaration">Confirm and continue claim</a></p>


  </div>
</div>


{% endblock %}
