{% extends "layout-installer-mvp.html" %}

{% block pageTitle %}
Who completed the installation? -
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <span class="govuk-caption-l">Sherborne Properties</span>
    <h1 class="govuk-heading-xl">Who completed the installation?</h1>
<form class="form" method="post">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="installer_type" name="installer_type" type="radio" value="installer" data-aria-controls="conditional-contact">
            <label class="govuk-label govuk-radios__label" for="installer_type">
              An employee of Electric City Installers
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="installer_type-2" name="installer_type" type="radio" value="subcontractor" data-aria-controls="conditional--2">
            <label class="govuk-label govuk-radios__label" for="installer_type">
              A subcontractor
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-phone">
                Enter the subcontractor's OZEV installer number
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel"></div>
          </div>

      </fieldset>
    </div>

        <div class="govuk-button-group govuk-!-margin-top-7">
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
          <p><a href="">Save and continue later</a></p>
        </div>
      </form>
  </div>
</div>


{% endblock %}
