{% extends "layout-installer.html" %}

{% block pageTitle %}
Check your answers before sending your application
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav> -->
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Claim submitted for review</h1>

    <p>You have submitted the below details to be reviewed by OZEV. OZEV will contact you when they have made a decision regarding whether the claim will be accepted or rejected for payment.</p>

    <h1 class="govuk-heading-m govuk-!-margin-top-5">Claim summary</h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grant type
          </dt>
          <dd class="govuk-summary-list__value">
            Residential landlord
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reference number
          </dt>
          <dd class="govuk-summary-list__value">390466
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Customer name
          </dt>
          <dd class="govuk-summary-list__value">
            Sherborne Properties
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Installer name
          </dt>
          <dd class="govuk-summary-list__value">
            Electric City Installers
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Installer's OZEV number
          </dt>
          <dd class="govuk-summary-list__value">
            835722
          </dd>
        </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status of application
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--yellow">Submitted for review</strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date claim was submitted for review
        </dt>
        <dd class="govuk-summary-list__value">
      5 November 2021
        </dd>
      </div>
    </dl>

    <h1 class="govuk-heading-m">Installation details</h1>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            14 Royal Road,<br>London,<br>EC1R 1XS
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Installation date
          </dt>
          <dd class="govuk-summary-list__value">
            12 December 2021
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of chargepoints
          </dt>
          <dd class="govuk-summary-list__value">
            2
          </dd>
          <dd class="govuk-summary-list__actions">
          <!--   <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> xxx</span>
            </a>-->
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of chargepoint sockets
          </dt>
          <dd class="govuk-summary-list__value">
            3
          </dd>
          <dd class="govuk-summary-list__actions">
            <!--<a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> xxx</span>
            </a>-->
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Financial details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total cost of installation
            </dt>
            <dd class="govuk-summary-list__value">
              £1,050
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Proof of customer invoice
            </dt>
            <dd class="govuk-summary-list__value">
              <a class="govuk-link" href="#">
                  Download invoice<span class="govuk-visually-hidden"> xxx</span>
                </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Total grant amount to receive
            </dt>
            <dd class="govuk-summary-list__value">
              £1,050
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="installation-cost">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
        </dl>

    <h2 class="govuk-heading-m govuk-!-margin-top-9">Chargepoints details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Chargepoint 1
          </dt>
          <dd class="govuk-summary-list__value">
            <b>Manufacturer:</b> ABB Ltd<br>
              <b>Model:</b> Terra AC W7-T-0<br>
              <b>Chargepoint sockets:</b> 1<br>
              <b>Serial number:</b> FT1243535989G7<br>
              <b>Photos:</b><br>image1.jpg<br>image2.jpg<br>
              <a class="govuk-link" href="#">
                  Download photos<span class="govuk-visually-hidden"> xxx</span>
                </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Chargepoint 2
          </dt>
          <dd class="govuk-summary-list__value">
            <b>Manufacturer:</b> ABB Ltd<br>
              <b>Model:</b> Terra AC W22-T-RD-MC-0<br>
              <b>Chargepoint sockets:</b> 2<br>
              <b>Serial number:</b> ED1243535989G5<br>
              <b>Photos:</b> <br>image1.jpg<br>image2.jpg<br>
              <a class="govuk-link" href="#">
                  Download photos<span class="govuk-visually-hidden"> xxx</span>
                </a>
          </dd>

        </div>
      </dl>

    <a class="govuk-button" href="installer-dashboard.html">Back to dashboard</a>


  </div>
</div>


{% endblock %}
