{% extends "layout.html" %}

{% block pageTitle %}
Prototype 3
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Your electric vehicle schemes</h1>

    <p><a href="#">View account details for Electric City Installers</a></p>

    <br>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-l">Electric Vehicles Homecharge Scheme</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Reference number</th>
              <th scope="col" class="govuk-table__header">Customer name</th>
              <th scope="col" class="govuk-table__header">Address</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#111111</th>
              <td class="govuk-table__cell">Fiona Apple</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">In progress</strong></td>
              <td class="govuk-table__cell"><a href="#">View application</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#222222</th>
              <td class="govuk-table__cell">Tyler Okonma</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag">Completed</strong></td>
              <td class="govuk-table__cell"><a href="#">View application</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#333333</th>
              <td class="govuk-table__cell">Chris Groves</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">In progress</strong></td>
              <td class="govuk-table__cell"><a href="#">Continue application</a></td>
            </tr>
          </tbody>
        </table>

        <a class="govuk-button" data-module="govuk-button" href="/0-0-4/schemeHome">
          Manage Electric Vehicles Homecharge Scheme applications
        </a>

        <hr class="govuk-section-break govuk-section-break--visible">

  </div>
</div>

<br>
<br>

<h2 class="govuk-heading-l">Other schemes</h2>

<div class="govuk-grid-row">
  

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Workplace Chargepoint Scheme</h2>
    <p><a href="#">Manage Workplace Chargepoint Scheme</a></p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Ground Works <br>Scheme</h2>
    <p><a href="#">Manage Ground Works Scheme</a></p>
  </div>
</div>

{% endblock %}