{% extends "layout.html" %}

{% block pageTitle %}
EHVS Home
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="confirmation2.html">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Your eligibility has been confirmed
      </h1>
      <div class="govuk-panel__body">
        Your reference number<br><strong>HDJ2123F</strong>
      </div>
    </div>

    <p class="govuk-body">We have sent you a confirmation email.</p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
      We will notify Electric City Installers that you are eligible for the grant.
    </p>

    <p class="govuk-body">
      Before installation, ensure you show your installer proof of your ownership of your electric vehicle.  
    </p>

    <p class="govuk-body">
      If any of the information that you have provided in your eligibility is not true or changes, then your eligibility for the scheme will be invalid.
    </p>

    <p class="govuk-body">
      You can contact your installer to arrange your chargepoint installation.
    </p>
    <!-- <p class="govuk-body">
      After the installation, your installer will have to suWe will email you and your installer within 2 working days to either confirm your eligibility for the scheme, or to ask for more information.
    </p> -->


    <p class="govuk-body">
      <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
    </p>
  </div>
</div>


{% endblock %}
