{% extends "layout.html" %}

{% block pageTitle %}
Business type
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/3/your-account-type" method="post">


      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Why do you want to create an account?
          </h1>
        </legend>

        <p class="govuk-body"> Tell us what you want to do, so we can create the right account for you.</p>

        <span id="passport-issued-error" class="govuk-error-message">


        <div class="govuk-radios govuk-!-margin-top-5 govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="business_type" name="business_type" type="radio" value="landlord" data-aria-controls="conditional-business">
            <label class="govuk-label govuk-radios__label" for="business_type">
              I want chargepoints for people who rent or lease in my property
            </label>
          </div>


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="business_type2" name="business_type" type="radio" value="pmc" data-aria-controls="conditional-business-2">
              <label class="govuk-label govuk-radios__label" for="business_type2">
                I want chargepoints on behalf of my landlord and property managing clients
              </label>
            </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="business_type4" name="business_type" type="radio" value="sme" data-aria-controls="conditional-business-4">
                <label class="govuk-label govuk-radios__label" for="business_type4">
                I want chargepoints for my staff and fleet car park
                </label>
              </div>


              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="business_type3" name="business_type" type="radio" value="installer" data-aria-controls="conditional-business-3">
                <label class="govuk-label govuk-radios__label" for="business_type3">
                I want to claim grants for chargepoints I install for my customers
                </label>
              </div>

        </div>


      </fieldset>



<div class="govuk-button-group govuk-!-margin-top-5">
  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>

</div>

</form>

<br>
<br>
<a href="account-type">View version 1 of this page</a>

  </div>
</div>


{% endblock %}
