{% extends "layout.html" %}

{% block pageTitle %}
Enter code to confirm your email address
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Enter code to confirm your email address</h1>

    <p class="govuk-body">We have sent a code to: <b>john.doe@pmc.co.uk</b>. It may take a few minutes to arrive. If this email does not arrive, check your junk or spam folder.</p>

    <p class="govuk-body">If you use a browser to access your email, you may need to open a new window or tab to see the code.</p>

    <div class="govuk-form-group">
      <label class="govuk-label" for="address-postcode">
        Confirmation code<br><span class="govuk-caption-m">For example, DNCLRK</span>
      </label>
      <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code"></div>


    <p>
      <a href="email-resent">I have not received an email</a>
    </p>

    <br>
<div>
    <a class="govuk-button" href="email-verified">Continue</a>
    </div>

    --- not part of the prototype ---<br>
        <a href="email-code-error">If confirmation code does not work</a>

  </div>
</div>


{% endblock %}
