{% extends "layout.html" %}

{% block pageTitle %}
Check your answers before sending your application
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check your answers</h1>


          <h2 class="govuk-heading-m">Account details</h2>


          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Registered email
              </dt>
              <dd class="govuk-summary-list__value">
                name@email.co.uk
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="account-type">
                  Change<span class="govuk-visually-hidden"> registered email</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type of account
              </dt>
              <dd class="govuk-summary-list__value">
                Small to medium enterprise
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="account-type">
                Change<span class="govuk-visually-hidden"> type of account</span>
                </a>
              </dd>
            </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              John Doe
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="contact">
              Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Role within the business
            </dt>
            <dd class="govuk-summary-list__value">
              Owner
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="contact">
              Change<span class="govuk-visually-hidden"> role within the business</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mobile number
            </dt>
            <dd class="govuk-summary-list__value">
              +44 07732 780434
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="contact">
               Change<span class="govuk-visually-hidden"> mobile number</span>
              </a>
            </dd>
          </div>
      </dl>

<h2 class="govuk-heading-m">Business details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Linked enterprise
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
             Change<span class="govuk-visually-hidden"> linked enterprise</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Companies House number
            </dt>
            <dd class="govuk-summary-list__value">
              12050845
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> companies House number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Business name
            </dt>
            <dd class="govuk-summary-list__value">
              Green removals
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Business address
            </dt>
            <dd class="govuk-summary-list__value">
              Kemp House,<br> 160 City Road
              <br>London, England
              <br>WS1V 2NX
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of employees
            </dt>
            <dd class="govuk-summary-list__value">
              50 to 250
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> number of employees</span>
              </a>
            </dd>
          </div>
        </dl>


        <div class="govuk-button-group">
          <a class="govuk-button" data-module="govuk-button" href="declaration.html">
            Confirm and continue
          </a>
        </div>


  </div>
</div>


{% endblock %}
