{% extends "layout.html" %}

{% block pageTitle %}
Enter your VAT registration number
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Enter your VAT registration number
          </h1>
        </legend>
        <br>
        <p class="govuk-body">We will use this to confirm your VAT details.</p>
        <br>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            UK VAT registration number
          </label>
          <div id="hint" class="govuk-hint">
        This is the unique number that HMRC provides to UK businesses when they register for tax payment
      </div>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text"></div>
          <p class="govuk-body govuk-!-margin-top-7"><a class="govuk-link" href="cannot-proceed">I do not have a VAT registration number</a></p>

      </fieldset>
    </div>

    <div class="govuk-button-group">
      <a class="govuk-button" data-module="govuk-button" href="confirm-business-details-vat">
        Continue
      </a>
    </div>

--- not part of the prototype ---<br>
    <a href="prp-identification">I don't have a VAT registration number - If prp</a>

  </div>
</div>


{% endblock %}
