{% extends "layout.html" %}

{% block pageTitle %}
Enter the linked enterprise company registration number
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Enter the linked enterprise company registration number
          </h1>
        </legend>

        <p class="govuk-body govuk-!-margin-top-7">We will use this to confirm the business details of the enterprise that controls your organisation.</p>
        <br>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            Company registration number
          </label>
          <div id="hint" class="govuk-hint">
        This is the number assigned by Companies House when a company is formed and officialy registered
      </div>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text"></div>
          <br>
          <br>
          <p><a class="govuk-link" href="company-identification-vat">I don't have a company registration number</a></p>

      </fieldset>
    </div>

    <div class="govuk-button-group">
      <a class="govuk-button" data-module="govuk-button" href="confirm-business-details.html">
        Continue
      </a>
    </div>

  </div>
</div>


{% endblock %}
