{% extends "layout.html" %}

{% block pageTitle %}
How many employees does your company have?
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>

{% endblock %}

{% block content %}

<form class="form" action="/no-of-employees" method="post">


<div class="govuk-form-group">
  <div class="govuk-grid-column-two-thirds">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend">
      <h1 class="govuk-heading-xl">How many employees does your company have?</h1>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="employees" name="employees" type="radio" value="1 to 9">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          1 to 9 employees
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="employees2" name="employees" type="radio" value="10 to 49">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
          10 to 49 employees
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="employees3" name="employees" type="radio" value="50 to 250">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
          50 to 250 employees
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="employees4" name="employees" type="radio" value="More than 250">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
          More than 250 employees
        </label>
      </div>
      <p>or</p>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="employees5" name="employees" type="radio" value="No employees">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
          I don't have any employees
        </label>
      </div>

  </fieldset>
</div>
</div>


<div class="govuk-button-group govuk-!-margin-top-5">
  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
</div>

</form>

{% endblock %}
