{% extends "layout.html" %}

{% block pageTitle %}
Applications
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" style="margin-bottom:10px">Residential Chargepoint Grant applications</h1>
  </div>
</div>

<br>
<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">6 applications need action</h2>
    <p>These include accepted eligibility checks that are ready for installation and claims that need to be resubmitted</p>
    <p><a href="schemeHome.html">View applications that need action</a></p>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">8 applications are pending</h2>
    <p>These include eligibility checks sent to customers to complete and installation claims that are being reviewed by OZEV</p>
    <p><a href="schemeHome2.html">View applications that are pending</a></p>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">48 completed applications</h2>
    <p>These are applications that have been approved for payment by OZEV, or have been rejected and cannot continue further</p>
    <p><a href="schemeHome3.html">View completed applications</a></p>
  </div>
</div>

<br>
<br>

<div class="govuk-button-group">
  <a class="govuk-button" data-module="govuk-button" href="customerEmail.html">
    Start a new application
  </a>
</div>


</div>
</div>

{% endblock %}