{% extends "layout.html" %}

{% block pageTitle %}
EHVS Home
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="/0-0-3/entry2">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Enter the name and number on your client's driving licence</h1>

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
      </h1>
      <label class="govuk-label" for="width-20">
        Name on client's driving licence
      </label>
      <input class="govuk-input" id="event-name" name="event-name" type="text">
    </div>
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
      </h1>
      <label class="govuk-label" for="width-20">
        Number on client's driving licence
      </label>
      <input class="govuk-input govuk-input--width-20" id="event-name" name="event-name" type="text">
    </div>

    <br>


    <div class="govuk-button-group">
      <a class="govuk-button" data-module="govuk-button" href="evAddress.html">
        Continue
      </a>
    </div>


  </div>
</div>


{% endblock %}