{% extends "layout.html" %}

{% block pageTitle %}
Confirm the subcontractor who completed this installation -
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Confirm the subcontractor who completed this installation</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Subcontractor name
        </dt>
        <dd class="govuk-summary-list__value">
          Angus Young Installations
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Subcontractor OZEV installer number
        </dt>
        <dd class="govuk-summary-list__value">
          49320553
        </dd>
      </div>
    </dl>

    <p><a href="subcontractor">This is not my subcontractor</a></p>

    <br>
    <div class="govuk-button-group">
      <a class="govuk-button" data-module="govuk-button" href="confirmAddresses.html">
        Confirm subcontractor
      </a>
    </div>


  </div>
</div>


{% endblock %}
