{% extends "layout.html" %}

{% block pageTitle %}
Check your answers before sending your application -
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check your answers</h1>

    <h1 class="govuk-heading-m">Installation details</h1>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Customer name
          </dt>
          <dd class="govuk-summary-list__value">
            John Smith
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            14 Royal Road,<br>London,<br>EC1R 1XS
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Who completed the installation
          </dt>
          <dd class="govuk-summary-list__value">
            Subcontractor <br>
            Angus Young Installations<br>23456
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="confirmSubcontractor">
              Change<span class="govuk-visually-hidden">Who completed the installation</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date installations were completed
          </dt>
          <dd class="govuk-summary-list__value">
            12 December 2021
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="dateOfCompletion">
              Change<span class="govuk-visually-hidden">Date of installation</span>
            </a>
          </dd>
        </div>
      </dl>


    <h2 class="govuk-heading-m govuk-!-margin-top-9">Chargepoints details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Chargepoint
          </dt>
          <dd class="govuk-summary-list__value">
            <b>Manufacturer:</b> ABB Ltd<br>
              <b>Model:</b> Terra AC W7-T-0<br>
              <b>Chargpoint sockets:</b> 1<br>
              <b>Serial number:</b> FT1243535989G7<br>
              <b>Photos:</b><br>image1.jpg<br>image2.jpg
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Financial details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total cost of installation
            </dt>
            <dd class="govuk-summary-list__value">
              £1,050
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="installation-cost">
                Change<span class="govuk-visually-hidden">Total cost of installation</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Proof of customer invoice
            </dt>
            <dd class="govuk-summary-list__value">
              invoice.jpg
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="installation-cost">
                Change<span class="govuk-visually-hidden">Customer invoice</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Total grant amount to receive
            </dt>
            <dd class="govuk-summary-list__value">
              £1,050
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="installation-cost">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
        </dl>

        <form action="confirmation" method="post" novalidate>

                <input type="hidden" name="answers-checked" value="true">

                <button type="submit" class="govuk-button" data-module="govuk-button">
                  Confirm and submit claim
                </button>


              </form>


  </div>
</div>


{% endblock %}
