{% extends "layout.html" %}

{% block pageTitle %}
Enter your access code -
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav> -->
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Sherborne Properties</span>

    <h1 class="govuk-heading-xl">Confirm this is your subcontractor</h1>

    <label class="govuk-label govuk-!-font-weight-bold" for="company-number">
        Subcontractor's OZEV installer number
    </label>
    <p class="govuk-body">12050845</p>

    <label class="govuk-label govuk-!-font-weight-bold" for="business-name">
        Subcontractor name
    </label>
    <p class="govuk-body">Angus Young Installations</p>

    <!-- <label class="govuk-label govuk-!-font-weight-bold" for="business-address">
       Address
    </label>
    <p class="govuk-body">Westside Tower,<br> 7 City Road,<br> London,<br> England,<br> WS16 NWR</p>
 -->

    <p class="govuk-body govuk-!-margin-top-4"><a href="installerDetail"></a></p>

    <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      This is not my subcontractor
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">Check you have used the correct OZEV's installer number.</p>

    <p class="govuk-body">If this is not your installer or the installer name is incorrect, you will need to contact them to confirm the number provided is correct.</p>

  </div>
</details>

    <div class="govuk-button-group govuk-!-margin-top-7">
      <a class="govuk-button" href="date-of-completion">
        Confirm and continue
      </a>
    </div>


  </div>
</div>


{% endblock %}
