{% extends "layout.html" %}

{% block pageTitle %}
You must read the following before proceeding with your application -
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Declaration</h1>



    <p>By continuing, you confirm that you:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>will provide the correct information to the best of your knowledge</li>
      <li>installed the chargepoints in a private car parking area</li>
      <li>have conducted a survey prior to installation</li>
      <li>completed the BS7671 Electrical Installation Certificate</li>
      <li>notified the local Distribution Network Operator (DNO) of this installation</li>

    </ul>



    <!-- <div class="govuk-checkboxes__item govuk-!-margin-top-6">
          <input class="govuk-checkboxes__input" id="Declaration" name="Declaration" type="checkbox" value="confirm">
          <label class="govuk-label govuk-checkboxes__label" for="Declaration" style="padding-top: 0px ">
            I confirm that I understand the grant conditions and that the information I have provided is true and correct to the best of my knowledge.
          </label>
        </div> -->

        <div class="govuk-warning-text govuk-!-margin-top-7">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            <b>It is an offence to make a false declaration to obtain a grant and you could be fined or prosecuted.</b>
          </strong>
        </div>

        <div class="govuk-button-group govuk-!-margin-top-7">
          <a class="govuk-button" data-module="govuk-button" href="who-completed-job">
            Agree and continue
          </a>
        </div>

  </div>
</div>


{% endblock %}
