{% extends "layout-ll.html" %}

{% block pageTitle %}
Enter an address where a chargepoint will be installed -
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>

</nav> -->

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            <span class="govuk-caption-l">Blue Tick Properties</span>
            <h1 class="govuk-heading-xl " id="postcode">
              Enter the address where chargepoints will be installed
            </h1>

          </legend>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-line-1">
                Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
              </label>
              <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1"></div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-line-2">
                <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
              </label>
              <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2"></div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-town">
                Town or city
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2"></div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-county">
                County
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text"></div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-postcode">
                Postcode
              </label>
              <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code"></div>

        </fieldset>
      </div>

<div class="govuk-button-group govuk-!-margin-top-7">
  <a type="submit" class="govuk-button" href="building-type.html">
    Continue
  </a>
</div>

    </form>

  </div>
</div>


{% endblock %}
