{% extends "layout.html" %}

{% block pageTitle %}
You must read the following before proceeding with your application -
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
</nav> -->
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Declaration</h1>

    <p>By continuing, you confirm that you:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>will check and comply with the grant rules and requirements</li>
      <li>will only use the grant to install electric vehicle chargepoints on properties with private parking</li>
      <li>provided the correct information to the best of your knowledge</li>
      <li>understand the information provided and any supporting evidence will be used to assess your application when you apply for the grant</li>
      <li>agree to be contacted by the Office for Zero Emission Vehicles (OZEV) or its agents for audit purposes, should your installation be chosen for audit</li>
    </ul>

    <p>You also confirm that you will consider the needs of EV owners who may be disabled or have mobility issues when installing a chargepoint.</p>

        <div class="govuk-button-group govuk-!-margin-top-7">
          <a class="govuk-button" data-module="govuk-button" href="confirmation-account.html">
            Accept and continue
          </a>
        </div>

  </div>
</div>


{% endblock %}
