{% extends "layout.html" %}

{% block pageTitle %}
Prototype 7
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Your electric vehicle claims</h1>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Claim details</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Reference</th>
              <th scope="col" class="govuk-table__header">Scheme</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#123456</th>
              <td class="govuk-table__cell">EVHS</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Sent</strong></td>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#234567</th>
              <td class="govuk-table__cell">EVHS</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Rejected</strong></td>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#345678</th>
              <td class="govuk-table__cell">WCS</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Accepted</strong></td>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#456789</th>
              <td class="govuk-table__cell">WCS</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Pending</strong></td>
              <td class="govuk-table__cell"><a href="#">Continue claim</a></td>
            </tr>
          </tbody>
        </table>

        <button class="govuk-button" data-module="govuk-button">
          View all claims
        </button>

        <hr class="govuk-section-break govuk-section-break--visible">

  </div>
</div>

<br>
<br>

<h2 class="govuk-heading-l">Manage your electric vehicle schemes</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Electric Vehicle Homecharge Scheme</h2>
    <p><a href="#">Manage Electric Vehicle Homecharge Scheme</a></p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Workplace Chargepoint Scheme</h2>
    <p><a href="#">Manage Workplace Chargepoint Scheme</a></p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Ground Works<br> Scheme</h2>
    <p><a href="#">Manage Ground Works Scheme</a></p>
  </div>
</div>

{% endblock %}