{% extends "layout.html" %}

{% block pageTitle %}
Prototype 5
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Your electric vehicle schemes</h1>

    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
        Add new scheme to account
      </button>
    
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Manage account details
      </button>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-l">Electric Vehicles Homecharge Scheme</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Claim reference</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#111111</th>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#222222</th>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#333333</th>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr>
          </tbody>
        </table>

        <p>
          <a href="#">
            Manage Electric Vehicles Chargepoint Scheme
          </a>
        </p>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">




        <h2 class="govuk-heading-l">Workplace Chargepoint Scheme</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Claim reference</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#444444</th>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#555555</th>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#666666</th>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr>
          </tbody>
        </table>

        <p>
          <a href="#">
            Manage Workplace Chargepoint Scheme
          </a>
        </p>


        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">




        <h2 class="govuk-heading-l">Ground Works Scheme</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Claim reference</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#777777</th>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#888888</th>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#999999</th>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr>
          </tbody>
        </table>

        <p>
          <a href="#">
            Manage Ground Works Scheme
          </a>
        </p>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



  </div>
</div>

{% endblock %}