{% extends "layout.html" %}

{% block pageTitle %}
Prototype 6
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Your electric vehicle grants</h1>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#past-day">
            Electric Vehicles Homecharge Scheme
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#past-week">
            Workplace Chargepoint Scheme
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#past-month">
            Ground Works Scheme
          </a>
        </li>
      </ul>


      <div class="govuk-tabs__panel" id="past-day">
        <h2 class="govuk-heading-l">Electric Vehicles Homecharge Scheme</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Reference number</th>
              <th scope="col" class="govuk-table__header">Customer name</th>
              <th scope="col" class="govuk-table__header">Address</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#111111</th>
              <td class="govuk-table__cell">Tyler Okonma</td>
              <td class="govuk-table__cell">12 Flower Lane, EB3 ZBH</td>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#222222</th>
              <td class="govuk-table__cell">Fiona Apple</td>
              <td class="govuk-table__cell">3 Abbey Road, NW8 9AY</td>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#333333</th>
              <td class="govuk-table__cell">Chris Groves</td>
              <td class="govuk-table__cell">77 Fox Road, BH19 1LB</td>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr>
          </tbody>
        </table>


        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Start new claim
          </button>
        
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            View previous claims
          </button>
        </div>
    
      </div>


      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
        <h2 class="govuk-heading-l">Workplace Chargepoint Scheme</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Reference number</th>
              <th scope="col" class="govuk-table__header">Customer name</th>
              <th scope="col" class="govuk-table__header">Address</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#111111</th>
              <td class="govuk-table__cell">Tyler Okonma</td>
              <td class="govuk-table__cell">12 Flower Lane, EB3 ZBH</td>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#222222</th>
              <td class="govuk-table__cell">Fiona Apple</td>
              <td class="govuk-table__cell">3 Abbey Road, NW8 9AY</td>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#333333</th>
              <td class="govuk-table__cell">Chris Groves</td>
              <td class="govuk-table__cell">77 Fox Road, BH19 1LB</td>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr>
          </tbody>
        </table>


        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Start new claim
          </button>
        
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            View previous claims
          </button>
        </div>
    
      </div>


      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
        <h2 class="govuk-heading-l">Ground Works Scheme</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Reference number</th>
              <th scope="col" class="govuk-table__header">Customer name</th>
              <th scope="col" class="govuk-table__header">Address</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#111111</th>
              <td class="govuk-table__cell">Tyler Okonma</td>
              <td class="govuk-table__cell">12 Flower Lane, EB3 ZBH</td>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#222222</th>
              <td class="govuk-table__cell">Fiona Apple</td>
              <td class="govuk-table__cell">3 Abbey Road, NW8 9AY</td>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#333333</th>
              <td class="govuk-table__cell">Chris Groves</td>
              <td class="govuk-table__cell">77 Fox Road, BH19 1LB</td>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr>
          </tbody>
        </table>


        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Start new claim
          </button>
        
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            View previous claims
          </button>
        </div>
    
      </div>
    </div>

  </div>


  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Your account details</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Your account details</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Add a scheme to your account</a>
      </li>
    </ul>
  </div>


</div>

{% endblock %}