{% extends "layout.html" %}



{% block pageTitle %}
GOV guidance
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Apply for the Electric Vehicle Homecharge Scheme</h1>

      <p class="govuk-!-margin-top-4 govuk-!-margin-bottom-4">There are different services to <a
        href="https://www.gov.uk/manage-vehicle-operator-licence">check your eligibility for the Workplace Chargepoint Scheme</a>.</p>

      <p>If you want to get a chargepoint installed at your residency, you will need to apply for the grant through an installer.</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-2">Overview of the Electric Vehicle Homecharge Scheme</h2>
      <p>Electric vehicles are a crucial step to decarbonising our transport system and reducing air pollution through zero tailpipe emissions. The government recognises that many people will want to charge their electric vehicles at home. This grant scheme is designed to help them do so.<br><br>

        The Electric Vehicle Homecharge Scheme (EVHS) is a grant that provides a 75% contribution to the cost of one chargepoint and its installation. A grant cap is set at £350 (including VAT) per installation. The main requirement is that a person owns, leases, or has ordered a qualifying vehicle and has dedicated off-street parking at their property. A person may apply for 2 chargepoints at the same property if they have 2 qualifying vehicles.<br><br>
        
        The grant works by a customer choosing an EVHS installer to install their chargepoint. The EVHS installer checks that they qualify and then applies on the customer’s behalf. The installer will bill the customer for the price of the installation, less the grant amount they have applied for. If the application is successful, the installer will be paid the grant amount that they have offset from the customer’s bill. The Office for Zero Emission Vehicles (OZEV) aims to process claims for experienced installers within 30 working days.<br><br>
        
        The government reserves the right to terminate the grant at any time but will aim to provide 4 weeks’ notice. Should the grant rate change, or the scheme end, the government will honour grant claims made before the date of any public announcement subject to meeting all relevant criteria set out in this guidance. The announcement will detail how claims made after it will be treated.</p>
  

        <h2 class="govuk-heading-m govuk-!-margin-top-2">Electric vehicle installers can use this service to:</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>send customers an eligibility form to complete to check if they are eligible for the grant</li>
          <li>complete claim applications for installed chargepoints once a customer is eligible for the grant</li>
          <li>keep updated with how eligibility and claim applications are being processed by OZEV</li>
        </ul>


        <h2 class="govuk-heading-m govuk-!-margin-top-2">Electric vehicle owners can use this service to:</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>check eligibility to receive a Government grant for the Electric Vehicle Homecharge Scheme</li>
          <li>send eligibility to a chosen installer for them to complete the installation claim section of the application</li>
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-top-2">What will installers need to complete an application?</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>a customer's name</li>
          <li>a customer's phone number</li>
          <li>a customer's email address</li>
          <li>photographic evidence of a chargepoint installed to OZEV standards</li>
          <li>photographic evidence of receipt of the chargepoint installation</li>
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-top-2">What will customers need to complete an application?</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>an electric vehicle</li>
          <li>a phone number</li>
          <li>an email address</li>
          <li>if required, consent from a landlord or freeholder to install at the property</li>
          <li>a residential property with dedicated off-street private parking</li>
        </ul>
  

    </div>


{% endblock %}
