{% extends "layout.html" %}

{% block pageTitle %}
Confirm the subcontractor who completed this installation
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Confirm the subcontractor who completed this installation</h1>

    <p><b>Subcontractor name:</b> Angus Young Installations<br><b>Subcontractor installer number:</b> 49320553<br><br></p>


    <p><a href="subcontractor">This is not my subcontractor</a></p>

    <br>
    <div class="govuk-button-group">
      <a class="govuk-button" data-module="govuk-button" href="confirmAddresses.html">
        Confirm subcontractor
      </a>
    </div>


  </div>
</div>


{% endblock %}
