{% extends "layout.html" %}

{% block pageTitle %}
Prototype 1
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" style="margin-bottom:10px">Your electric vehicle schemes</h1>
    <span class="govuk-caption-m">Installer name: Electric City Installers</span>
    <p><a href="#">View account details</a></p>
  </div>
</div>

<br>
<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Electric Vehicle Homecharge Scheme</h2>
    <ul class="govuk-list">
      <li><a href="#">Add a new customer</a></li>
      <li><a href="installer2/schemeFilters1">View applications</a></li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Workplace Chargepoint Scheme</h2>
    <ul class="govuk-list">
      <li><a href="#">Add a new customer</a></li>
      <li><a href="#">View applications</a></li>
    </ul>
  </div>
</div>

</div>
</div>

{% endblock %}