{% extends "layout.html" %}

{% block pageTitle %}
Prototype 1
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" style="margin-bottom:10px">Your OZEV Electric Vehicle Chargepoint Grants account</h1>
    <span class="govuk-caption-m">Installer name: Electric City Installers</span>

    <p class="govuk-body-l"><a href="#">Manage account details</a></p>
  </div>
</div>

<br>
<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Home Chargepoint Grant</h2>
    <ul class="govuk-list">
      <li>
        <a href="#">Start a new application</a>
      </li>
      <li>
        <a class="govuk-link" href="#">View applications</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Landlord Chargepoint Grant</h2>
    <p><a href="dashboard-landlord-grant.html">Go to grant</a></p>
  </div>
</div>

</div>
</div>

{% endblock %}
