{% extends "layout.html" %}

{% block pageTitle %}
Landlord Chargepoint Grant applications
{% endblock %}

<style type="text/css">

govuk-tag {
text-transform: none;
font-size: 16px !important;
}

</style>

{% block beforeContent %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Landlord Chargepoint Grant</a>
    </li>

  </ol>
</div> -->

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l" style="margin-bottom:10px">Installer dashboard</h1>
    <p class="govuk-body-m"><a href="#">Manage account details</a></p>
</div>

</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter ">
    <label class=" govuk-heading-s" for="filter-country-applications-by-status">
        Filter by
      </label>
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-postcode">
        Reference
      </label>
      <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-postcode">
        Customer
      </label>
      <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-postcode">
        Postcode
      </label>
      <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
    </div>
    <p>Status</p>
    <fieldset class="govuk-fieldset">
      <div class="govuk-checkboxes govuk-checkboxes--small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
          <label class="govuk-label govuk-checkboxes__label" for="organisation">
            Ready to claim (2)
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
            Submitted for review (1)
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
            Expiring soon (1)
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
            Approved for payment (1)
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
            Not approved (7)
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
            Rejected (1)
          </label>
        </div>
      </div>


    </fieldset>
    <br>


    <div class="govuk-button-group">
      <a class="govuk-button" href="#">Apply filter</a>
      <a class="govuk-link" href="#">Clear filter</a>
    </div>

  </div>

    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-s">Grant applications and claims </h2>
        <table class="govuk-table" style="font-size: 19px !important">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Reference number</th>
              <th scope="col" class="govuk-table__header">Grant type</th>
              <th scope="col" class="govuk-table__header">Customer</th>
              <th scope="col" class="govuk-table__header">Postcode</th>
              <th scope="col" class="govuk-table__header">Claim status</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <!-- <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#893903</th>
              <td class="govuk-table__cell">Blue Tick Properties</td>
              <td class="govuk-table__cell">EC1R 1BC</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange" style="font-size: 16px !important">Expiring soon</strong></td>
              <td class="govuk-table__cell"><a href="">Submit or renew by 31 Oct 2021</a></td>
            </tr> -->
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#893903</th>
              <td class="govuk-table__cell">Residential</td>
              <td class="govuk-table__cell">Blue Tick Properties</td>
              <td class="govuk-table__cell">EC1R 1BC</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue" style="font-size: 16px !important">Ready to claim</strong></td>
              <td class="govuk-table__cell"><a href="sentToInstaller.html">Start claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#390466</th>
              <td class="govuk-table__cell">Commercial</td>
              <td class="govuk-table__cell">Victoria House</td>
              <td class="govuk-table__cell">W1 1XX</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue" style="font-size: 16px !important">Ready to claim</strong></td>
              <td class="govuk-table__cell"><a href="sentToInstaller.html">Submit claim by 13 Nov 2021</a></td>
            </tr>
            <!-- <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#209048</th>
              <td class="govuk-table__cell">Manchester City Council</td>
              <td class="govuk-table__cell">N1 1XX</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow" style="font-size: 16px !important">Submitted for review</strong></td>
              <td class="govuk-table__cell"><a href="#">View claim</a></td>
            </tr> -->
            <!-- <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#864442</th>
              <td class="govuk-table__cell">Blue Tick Properties</td>
              <td class="govuk-table__cell">E1 1XX</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green" style="font-size: 16px !important"> Approved for payment</strong></td>
              <td class="govuk-table__cell"><a href="acceptedOZEV.html">View claim</a></td>
            </tr> -->
            <!-- <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#098521</th>
              <td class="govuk-table__cell">Blue Tick Properties</td>
              <td class="govuk-table__cell">WC1N 1XX</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" style="font-size: 16px !important">Failed checks</strong></td>
              <td class="govuk-table__cell"><a href="rejectedOZEV.html">Resubmit claim</a></td>
            </tr> -->
            <!-- <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">#098521</th>
              <td class="govuk-table__cell">Blue Tick Properties</td>
              <td class="govuk-table__cell">WC1N 1XX</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey" style="font-size: 16px !important">Rejected</strong></td>
              <td class="govuk-table__cell"><a href=""></a></td>
            </tr> -->

          </tbody>
        </table>

        <nav class="moj-pagination" id="pagination-label">

          <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

          <ul class="moj-pagination__list">
            <li class="moj-pagination__item  moj-pagination__item--prev">
              <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
            </li>

            <li class="moj-pagination__item moj-pagination__item--Completed">1</li>

            <li class="moj-pagination__item"><a class="moj-pagination__link" href="#">2</a></li>

            <li class="moj-pagination__item"><a class="moj-pagination__link" href="#">3</a></li>

            <li class="moj-pagination__item  moj-pagination__item--next">
              <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
            </li>
          </ul>
          <p class="moj-pagination__results">Showing <b>1</b> to <b>10</b> of <b>50</b> results</p>
        </nav>

  </div>
</div>

  {% endblock %}
