{% extends "layout-pmc.html" %}

{% block pageTitle %}
What type of property are you applying for?
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <span class="govuk-caption-l">Highfield Properties</span>
      <h1 class="govuk-fieldset__heading">
        What grant do you want to apply for?
      </h1>
    </legend>
    <br>
    <!-- <p>If you want to apply for a residential and a commercial grant for the same property, you will need to create two different applications to do this.</p> -->
    <!-- <p class="govuk-body govuk-!-margin-top-7">The EV Chargepoint Grant is available for both Residential and Commercial properties. However, different limits apply for each type. You will be able to apply for both but will need apply separately. </p> -->
    <!-- <div id="countries-hint" class="govuk-hint govuk-!-margin-top-4">
      Select the property type you want to start an application for
    </div> -->
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          EV chargepoint grant for residential properties
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          EV chargepoint grant for commercial properties
        </label>
      </div>
      <!-- <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          Car park infrastucture and EV chargepoint grant for residential properties
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          Car park infrastucture and EV chargepoint grant for commercial properties
        </label>
      </div> -->

    </div>

  </fieldset>
</div>

    <div class="govuk-button-group govuk-!-margin-top-7">
      <a class="govuk-button" data-module="govuk-button" href="off-street-parking">
        Continue
      </a>
    </div>

  </div>
</div>


{% endblock %}
