{% extends "layout-pmc.html" %}

{% block pageTitle %}
Landlord Chargepoint Grant dashboard
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<nav class="hmrc-language-select" aria-label="Language switcher">
  <!-- <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul> -->


</nav>
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-form-group ">
  <h1 class="govuk-heading-l">Dashboard</h1>
  <p class="govuk-body-m">Business name: Bluetick Properties</p>


    <a class="govuk-button govuk-!-margin-top-4" href="choose-landlord">Start a new application</a>


</div>
</div>

{% endblock %}
