{% extends "layout-pmc.html" %}

{% block pageTitle %}
Is your business part of a linked enterprise?
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

    <div class="govuk-form-group-govuk">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Is your client's business a linked enterprise?
          </h1>
        </legend>

        <div class="govuk-radios govuk-!-margin-top-5 govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="linked_type" name="linked_type" type="radio" value="yes" data-aria-controls="conditional-linked">
            <label class="govuk-label govuk-radios__label" for="linked_type">
              Yes
            </label>
          </div>

          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="linked_type2" name="linked_type" type="radio" value="no" data-aria-controls="conditional-linked-2">
              <label class="govuk-label govuk-radios__label" for="linked_type">
                No
              </label>
            </div>

            <details class="govuk-details govuk-!-margin-top-5" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What is a linked enterprise
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">If another organisation controls your enterprise, then your business is a linked enterprise.</p>

              <p class="govuk-body">A linked enterprise is one where a group of enterprises, such as businesses or companies, are sufficiently linked such that, for state aid purposes, they should be treated as a single undertaking.</p>

  <p class="govuk-body">A group of linked enterprises will be treated as a 'single undertaking' when either:  </p>

              <ul class="govuk-list govuk-list--number">
                <li>one enterprise has a majority of the shareholders' or members' voting rights in another enterprise; or</li>

                <li>one enterprise has the right to appoint or remove a majority of the members of the administrative, management or supervisory body of another enterprise; or  </li>

                <li>one enterprise has the right to exercise a dominant influence over another enterprise pursuant to a contract entered into with that enterprise or to a provision in its memorandum or articles of association; or  </li>

                <li>one enterprise, which is a shareholder in or member of another enterprise, controls alone, pursuant to an agreement with other shareholders in or members of that enterprise, a majority of shareholders' or members' voting rights in that enterprise </li>
              </ul>

  <p class="govuk-body">  Enterprises having any of the relationships referred to in points 1 to 4 through one or more other enterprises will also be considered to be a single undertaking.</p>

              <p class="govuk-body">    Applicants that are part of a single undertaking will be subject to the limit of chargepoints one enterprise can apply for.</p

              <p class="govuk-body">    Where considered necessary OZEV reserves the right to request further information or documentary evidence from relevant parties in support of any individual claim.</p>

            </div>
            </details>

      </fieldset>

    </div>



<div class="govuk-button-group govuk-!-margin-top-7">
  <button class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>
</div>

</form>

  </div>
</div>



{% endblock %}
