{% extends "layout-pmc.html" %}

{% block pageTitle %}
Check your answers before sending your application
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav> -->
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Renew your application</h1>
    <p>
        The application from Urban Properties is due to expire on <b>10 December 2021</b>.
    </p>
    <p>If you need more time to complete the installation you can renew for a further 90 days or ask your installer to submit the claim.
      </p>

      <h1 class="govuk-heading-m">Installer details</h1>
        <dl class="govuk-summary-list govuk-!-margin-top-5">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Installer name name
            </dt>
            <dd class="govuk-summary-list__value">
              Electric City Installers
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Installer number
            </dt>
            <dd class="govuk-summary-list__value">
              835722
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status of application
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--red">Expiring soon</strong>
            </dd>
          </div>
        </dl>

        <h1 class="govuk-heading-m govuk-!-margin-top-7">Installation details</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-7">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Property type
            </dt>
            <dd class="govuk-summary-list__value">
              Residential
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              14 Royal Road
              <br>London
              <br>EC1R 1BC
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount of sockets
            </dt>
            <dd class="govuk-summary-list__value">
              3
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Private off-street parking
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Building type
            </dt>
            <dd class="govuk-summary-list__value">
              Bungalow
            </dd>
          </div>
        </dl>

    <div class="govuk-button-group govuk-!-margin-top-5">
      <a class="govuk-button" data-module="govuk-button" href="dashboard2">
        Renew application
      </a>
    </div>


      </div>


  </div>


{% endblock %}
