{% extends "layout-sme.html" %}

{% block pageTitle %}
  You cannot proceed
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Chargepoints must be for staff or fleet use only
    </h1>


        <p class="govuk-body">The chargepoints you install must be for staff or fleet use only to apply for the OZEV Electric Vehicle Commercial Infracstructure Grant./p>


    <div class="govuk-button-group govuk-!-margin-top-7">
      <a class="govuk-button" data-module="govuk-button" href="dashboard">
        Manage your applications
      </a>
    </div>

  </div>
</div>


{% endblock %}
