{% extends "layout-sme.html" %}

{% block pageTitle %}
Enter your installer's OZEV number
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>


<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <span class="govuk-caption-l">Blue Tick Properties</span> -->
    <h1 class="govuk-heading-xl">Enter your installer's OZEV number</h1>

    <p class="govuk-body">You need your installer's OZEV number to continue your application.</p>

    <!-- <p class="govuk-body">Before making this application you need to know which installer you will be working with. If you have not choosen an installler, you can check <a rel="noreferrer noopener" target="_blank" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1026192/evhs-installer-authorisations-log.csv/preview">OZEV's list of approved installers (downloads a csv file)</a>.</p> -->

    <div class="govuk-form-group govuk-!-margin-top-7">
      <label class="govuk-label" for="address-county">
        Installer's OZEV number
      </label>
      <input class="govuk-input govuk-!-width-one-third" id="address-county" name="address-county" type="text"></div>

      <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I do not know my installer's OZEV number
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>Contact your installer and ask them to tell you this. OZEV authorised installers get this number when they register with OZEV.</p>

    <p>You can only get this grant if you use <a rel="noreferrer noopener" target="_blank" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1026192/evhs-installer-authorisations-log.csv/preview">OZEV authorised installers (opens in a new tab)</a>.</p>
  </div>
</details>

      <a class="govuk-button" href="installer-confirm.html">Continue</a>

  </div>
</div>

  {% endblock %}
