{% extends "layout-sme.html" %}

{% block pageTitle %}
Are the chargepoints going to be used by staff or fleet?
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Are the chargepoints dedicated for staff or fleet use only?
      </h1>
    </legend>
    <br>
    <p class="govuk-body">The parking must be dedicated to staff or fleet use of the businesses who let or will let the commercial units associated with the parking.
<!-- It includes vehicles that are owned or leased by them or their suppliers and are needed to conduct their business, for example fleets. -->
<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
What does fleet vehicles mean?
</span>
</summary>
<div class="govuk-details__text">
<p>Fleet vehicles are vehicles that are necessary for the commercial operation of the business. This can include vehicles owned, or leased, by the company or vehicles owned or leased by their suppliers.</p>
</div>
</details>
<form class="form" action="/staff-or-fleet" method="post">

<div class="govuk-radios__item">
  <input class="govuk-radios__input" id="fleet" name="fleet" type="radio" value="yes" data-aria-controls="conditional-fleet">
  <label class="govuk-label govuk-radios__label" for="fleet">
    Yes
  </label>
</div>

<div class="govuk-radios__item">
  <input class="govuk-radios__input" id="fleet-2" name="fleet" type="radio" value="no" data-aria-controls="conditional-fleet-2">
  <label class="govuk-label govuk-radios__label" for="fleet">
    No
  </label>
</div>


<div class="govuk-button-group govuk-!-margin-top-7">
  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
</div>

  </form>
</fieldset>
</div>


</div>
</div>


{% endblock %}
