{% extends "layout.html" %}

{% block pageTitle %}
Apply for the OZEV electric vehicle chargepoint grant: landlords
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Apply for OZEV electric vehicle chargepoint grants
      </h1>

      <h2 class="govuk-heading-s">Use this service to:</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>create an account</li>
        <li>apply for an EV chargepoint grant for your properties</li>
        <li>manage your applications</li>
      </ul>

<h2 class="govuk-heading-s">Who can use this service</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>landlords of residential properties</li>
        <li>property factors</li>
        <li>social housing providers</li>
      </ul>

      <div class="govuk-inset-text">
       If you are an installer <a href="#">check how to create an installer account</a>. If you have already set-up your access, you can sign in to the OZEV EV chargepoint grants portal using your email and password.
       </div>

       <p>There are different services and guidance available for the <a href="#">Electric Vehicle Homecharge Scheme (EVHS)</a> and <a href="https://www.gov.uk/government/publications/workplace-charging-scheme-guidance-for-applicants-installers-and-manufacturers/workplace-charging-scheme-guidance-for-applicants-chargepoint-installers-and-manufacturers">Workplace Chargepoint Scheme (WCS)</a>.</p>


      <p class="govuk-body govuk-!-margin-top-7">This service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>
      <a href="signIn.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>


      <h2 class="govuk-heading-m">Before you start</h2>
      <p>To apply for the grant you will first need to register and create an account</p>
      <p>You’ll need one of the following:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Companies House company registration number, this is the best number to use for a fast response</li>
        <li>VAT registration number</li>
        <!-- <li>Private Registered Provider of Social Housing (PRP) number</li>
        <li>Property factor registration number</li> -->
</ul>
<p>You will also need:</p>
<ul class="govuk-list govuk-list--bullet">
        <li>access to an email address</li>
        <li>a UK mobile phone with signal for the security code we will send you</li>
      </ul>
<p>We will send a security code to verify your email and mobile number</p>

      <!-- <p>Creating an account takes around 5 minutes.</p> -->



      <!-- <h2 class="govuk-heading-m">Before you start</h2> -->

      <!-- <p>You can also <a href="#">register by post</a>.</p> -->

      <!-- <p>This service is also available in <a href="#">Welsh (Cymraeg)</a>.</p> -->

      <!-- <p>You cannot register for this service if you are not a UK registered business.</p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
