{% extends "layout-pmc.html" %}

{% block pageTitle %}
View application
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav> -->
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Claim submitted by installer</h1>



    <p class="govuk-body">Your installer has completed the claim and submitted the invoice and photos of the chargepoint installation.</p>

    <p>You have until <b>20 December 2021</b> to review the evidence provided.</p>

    <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      There is something wrong with the evidence provided
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">You can challenge it by sending an email to ozevgrants@dvla.gov.uk.</p>
    <p class="govuk-body">You will need to provide the reference number and explain what is wrong, for example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the invoice is incorrect</li>
      <li>the photos provided are wrong</li>
      <li>the total amount does not match what was paid</li>
      <li>the chargepoint information does not match what was installed</li>
    </ul>
  </div>
</details>


<!--
    <p>This page will update with further details once your claim has been approved.</p> -->

    <h1 class="govuk-heading-m govuk-!-margin-top-5">Claim summary</h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grant type
          </dt>
          <dd class="govuk-summary-list__value">
            EV infrastructure grant for staff and fleets
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reference number
          </dt>
          <dd class="govuk-summary-list__value">390466
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company name
          </dt>
          <dd class="govuk-summary-list__value">
            Bluetick Properties
          </dd>
        </div>
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company registered address
          </dt>
          <dd class="govuk-summary-list__value">
            14 Royal Road
            <br>London
            <br>EC1R 1BC
          </dd>
        </div> -->
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of sockets
          </dt>
          <dd class="govuk-summary-list__value">
            3
          </dd>
        </div> -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Installer name
          </dt>
          <dd class="govuk-summary-list__value">
            Electric City Installers
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Installer's OZEV number
          </dt>
          <dd class="govuk-summary-list__value">
            835722
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status of application
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--blue">Submitted by installer</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date the claim was submitted
          </dt>
          <dd class="govuk-summary-list__value">
          13 December 2021
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Installation details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              14 Royal Road,<br>London,<br>EC1R 1XS
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Who completed the installation
            </dt>
            <dd class="govuk-summary-list__value">
              Subcontractor
              Angus Young Installations
              23456
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date the installation was completed
            </dt>
            <dd class="govuk-summary-list__value">
              12 December 2021
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Parking spaces the infrastructure can charge
            </dt>
            <dd class="govuk-summary-list__value">
              5
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Car park diagram
            </dt>
            <dd class="govuk-summary-list__value">
                diagram1.jpg<br>diagram2.jpg<br>
               <a class="govuk-link" href="#">
                  Download diagram<span class="govuk-visually-hidden"> xxx</span>
                </a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m govuk-!-margin-top-9">Financial details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Total installation cost
              </dt>
              <dd class="govuk-summary-list__value">
                £2,500
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Customer's invoice
              </dt>
              <dd class="govuk-summary-list__value">
                customer-invoice.pdf
                <br><a class="govuk-link" href="#">
                    Download invoice<span class="govuk-visually-hidden"> xxx</span>
                  </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Total grant amount
              </dt>
              <dd class="govuk-summary-list__value">
                £1,050
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="installation-cost">
                  <span class="govuk-visually-hidden"></span>
                </a>
              </dd>
            </div>
          </dl>

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Chargepoints and car park details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of chargepoints you installed
          </dt>
          <dd class="govuk-summary-list__value">
            1
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of chargepoint sockets you installed
          </dt>
          <dd class="govuk-summary-list__value">
            1
          </dd>
        </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Chargepoint 1
            </dt>
            <dd class="govuk-summary-list__value">
              <b>Manufacturer:</b> ABB Ltd<br>
                <b>Model:</b> Terra AC W7-T-0<br>
                <b>Chargepoint sockets:</b> 1<br>
                <b>Serial number:</b> FT1243535989G7<br>
                <b>Photos:</b><br>image1.jpg<br>image2.jpg<br>
                <a class="govuk-link" href="#">
                    Download photos<span class="govuk-visually-hidden"> xxx</span>
                  </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Chargepoint 2
            </dt>
            <dd class="govuk-summary-list__value">
              <b>Manufacturer:</b> ABB Ltd<br>
                <b>Model:</b> Terra AC W22-T-RD-MC-0<br>
                <b>Chargepoint sockets:</b> 2<br>
                <b>Serial number:</b> ED1243535989G5<br>
                <b>Photos:</b> <br>image1.jpg<br>image2.jpg<br>
                <a class="govuk-link" href="#">
                    Download photos<span class="govuk-visually-hidden"> xxx</span>
                  </a>
            </dd>
          </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Car park photos
              </dt>
              <dd class="govuk-summary-list__value">
                  image1.jpg<br>image2.jpg<br>
                  <a class="govuk-link" href="#">
                      Download photos<span class="govuk-visually-hidden"> xxx</span>
                    </a>
              </dd>
            </div>

        </dl>



      <!-- <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total cost of installations</th>
            <td class="govuk-table__cell">£3092.03</td>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Proof of customer invoice</th>
            <td class="govuk-table__cell">invoice.jpg</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="#">
              View invoice<span class="govuk-visually-hidden"> </span>
            </a>
            </td>
          </tr>
        </tbody>
      </table> -->

  <a class="govuk-button" href="dashboard">Back to dashboard</a>


    </div>
      </div>




    <!--  <h1 class="govuk-heading-m govuk-!-margin-top-5">Claim history</h1>


      <div class="moj-timeline">

      <div class="moj-timeline__item">

      <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Claim submitted</h2>

        <p class="moj-timeline__byline">by Electric City Installers</p>

      </div>

      <p class="moj-timeline__date">
        <time datetime="2019-05-21T13:15:00.000Z">15 December 2021 at 15:00</time>
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="#">View claim</a></li>
      </ul>

      </div>

      <div class="moj-timeline__item">

      <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Claim started</h2>

        <p class="moj-timeline__byline">by Electric City Installers</p>

      </div>

      <p class="moj-timeline__date">
        <time datetime="2019-05-21T13:15:00.000Z">10 December 2021 at 15:00</time>
      </p>

      </div>

      <div class="moj-timeline__item">

      <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Eligibility confirmed</h2>

        <p class="moj-timeline__byline">by OZEV</p>

      </div>

      <p class="moj-timeline__date">
        <time datetime="2019-05-21T13:15:00.000Z">21 September 2021 at 17:00</time>
      </p>
      <div class="moj-timeline__description">Your application has been received – reference 390466</div>

      </div>

      <div class="moj-timeline__item">

      <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Application submitted</h2>

        <p class="moj-timeline__byline">by Bluetick Properties</p>

      </div>

      <p class="moj-timeline__date">
        <time datetime="2019-05-28T10:45:00.000Z">21 September 2021 at 16:00</time>
      </p>

      <div class="moj-timeline__description">

      </div>

      </div>

        </div> -->



{% endblock %}
