{% extends "layout.html" %}

{% block pageTitle %}
Question page title
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Provide proof of installation</h1>

    <div class="govuk-form-group govuk-!-margin-top-7">
        <label class="govuk-heading-m govuk-!-margin-bottom-2">Upload proof of the installation</label>
        <span class="govuk-hint govuk-!-margin-bottom-2" for="file-upload-1">
          You need to upload one or more photographs of the chargepoint installation
        </span>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
    </div>

    <br>


    <div class="govuk-button-group">
      <a class="govuk-button" data-module="govuk-button" href="installation-date.html">
        Save and continue
      </a>
    </div>


  </div>
</div>


{% endblock %}
