{% extends "layout.html" %}

{% block pageTitle %}
EHVS Home
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="/0-0-3/entry2">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Enter the details of the property's freeholder</h1>

    <p>This is so that we can verify their consent to install a chargepoint with them.</p>

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
      </h1>
      <label class="govuk-label" for="width-20">
        Freeholder's full name
      </label>
      <input class="govuk-input govuk-input--width-30" id="event-name" name="event-name" type="text">
    </div>

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
      </h1>
      <label class="govuk-label" for="width-20">
        Contact email address
      </label>
      <input class="govuk-input govuk-input--width-20" id="event-name" name="event-name" type="text">
    </div>

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
      </h1>
      <label class="govuk-label" for="width-20">
        Contact phone number
      </label>
      <input class="govuk-input govuk-input--width-20" id="event-name" name="event-name" type="text">
    </div>


    <div id="waste-hint" class="govuk-hint">
      Confirm that you have consent to install a chargepoint at the property
    </div>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          I have consent to install a chargepoint at the property
        </label>
      </div>
    </div>

    <br>
    <br>


    <div class="govuk-button-group">
      <a class="govuk-button" data-module="govuk-button" href="vehicleMake">
        Continue
      </a>
    </div>


  </div>
</div>


{% endblock %}