{% extends "layout.html" %}

{% block pageTitle %}
Do you have consent from your freeholder to install a chargepoint at the property? -
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="consentToInstall2.html">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
              
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Do you have consent from your freeholder to install a chargepoint at the property?</h1>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio"
              value="yes">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio"
              value="no">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
              No
            </label>
          </div>

        </div>

      </fieldset>
    </div>

    <p><a class="govuk-link" href="#">I do not know who my freeholder is</a></p>
    <br>


    <div class="govuk-button-group">
      <a class="govuk-button" data-module="govuk-button" href="ownershipCar.html">
        Continue
      </a>
    </div>


  </div>
</div>


{% endblock %}