{% extends "layout.html" %}

{% block pageTitle %}
Privacy Policy
{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <a title="go back to previous page" href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Privacy policy</h1>

      <p>We collect certain information and data about you when you use the OZEV electric vehicle chargepoint grants online portal. You can find more information in the <a href="https://www.gov.uk/government/organisations/office-for-low-emission-vehicles/about/personal-information-charter">personal information charter</a>.</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-7">General</h2>

      <p>The OZEV electric vehicle chargepoint grants online portal for the UK is an online
service established to facilitate the submission of information by businesses and organisations to apply for the electric vehicles chargepoints grants and installers to claim the grants. It will also enable Department for Transport (DfT) to track eligible chargepoint claims. The information uploaded by businesses will form the basis of grant claims made to DfT’s Office for Zero Emissions Vehicles (OZEV), the funders of the electric vehicles chargepoint grants.</p>


  <h2 class="govuk-heading-m govuk-!-margin-top-7">Access to the service</h2>

  <p>These Terms apply to the whole of the Site.</p>
  <p>Any information submitted through the online portal will be transmitted
electronically to DfT, the scheme operator and its appointed delivery agent DVLA. Although this portal provides a facility to submit information to and communicate with the grant operator, businesses remain entirely responsible for complying with the eligibility
rules and criteria of the grant.</p>

<p>DfT reserve the right at their sole and absolute discretion to withdraw the service and access to it at any time with immediate effect.</p>


<h2 class="govuk-heading-m govuk-!-margin-top-7">Privacy</h2>

  <p>We are committed to respecting the privacy of visitors and users of the service. This clause sets out the terms that govern the collection, retention and processing of any personal information provided online or otherwise held on the portal.</p>

  <p>The Department for Transport is the ‘Controller’ for personal data
processed as part of the OZEV electric vehicles chargepoint grants. We use the data to: administer the grants and provide a grant to those who are eligible; reduce the risk of fraudulent activity and ensure value for money when spending public funds; and to improve the efficiency and sustainability of the grants. We carry out this processing in the exercise of our official authority as a government department.</p>

<p>Administration of the schemes will be carried out by DVLA, who are an Executive
Agency of the Department for Transport and part of the same Controller.</p>

<p>We will share some data with Distribution Network Operators (DNOs) and other third
parties for research purposes and for the purpose of analysing the future impact of
electric vehicles. This data, which will include the date and postcode of install and the
model and make of chargepoint installed. It is unlikely to allow individuals to be identified.</p>

<p>We engage contractors to carry out audit checks and they will act only on our
instructions and as necessary to perform these checks. The checks consist of: technical
visits to sampled installed chargepoints for safety checks; and verification of grant claim
documentation and accompanying evidence, including installation authorisation documents, invoices and photographs for quality assurance of the grant.</p>

<p>For a full version of this privacy notice, please refer to: <a href="https://www.gov.uk/government/organisations/office-for-zero-emission-vehicles">https://www.gov.uk/government/organisations/office-for-zero-emission-vehicles</a>.
</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-7">Information collected</h2>
      <p>We collect:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>questions, queries or feedback you leave</li>
        <li>your email address, if you contact us</li>
        <li>your Internet Protocol (IP) address, and which version of web browser you used</li>
        <li>information on how you use the site, using <a href="/mmvp/cookies">cookies</a> and page-tagging techniques</li>
      </ul>

      <p>This data can be viewed by authorised people in DfT, OZEV, DVLA and our suppliers, to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>improve the site by monitoring how you use it</li>
        <li>gather feedback to improve our services</li>
        <li>respond to any feedback you send us, if you’ve asked us to.</li>
      </ul>

      <!-- <h2 class="govuk-heading-m">Where your data is stored</h2>

      <p>We store your data on secure servers in the <a href="https://www.gov.uk/eu-eea">European Economic Area</a> (EEA).</p> -->

      <h2 class="govuk-heading-m govuk-!-margin-top-7">Keeping your data secure</h2>

      <p>Any personal information provided will be processed under the data protection legislation and any other applicable legislation.</p>

      <p>You will be required to submit information, business and personal details under the terms of this grant. This information will be used to validate eligibility for the grant against information held on systems external to the grant.</p>

      <p>Data is held in a secure environment that maintains industry and Government security standards. A number of security features are in place to protect your personal information during transit from your computer to the service. However, transmitting data over the internet is generally not completely secure, and we can’t guarantee the security of your data. Our website does not enable our visitors to communicate with other visitors or for them to post information to be accessed by others.</p>

      <h2 class="govuk-heading-s govuk-!-margin-top-7">Monitoring use of the service</h2>

      <p>We will keep an audit trail of successful and unsuccessful attempts to access the service and will monitor its use. This is to help prevent and detect unauthorised access.</p>


      <h2 class="govuk-heading-s govuk-!-margin-top-7">Your rights in relation to your personal data</h2>

      <p>Information about your rights, including how to complain, or request a copy of the data we hold on you, is available on the <a href="https://www.gov.uk/government/organisations/department-for-transport/about/personal-information-charter">DfT website.</a></p>

      <h2 class="govuk-heading-s govuk-!-margin-top-7">Disclosing your information</h2>

      <p>We may pass on your personal information if we have a legal obligation to do so, or if we have to enforce or apply our <a href="/mmvp/terms-and-conditions">terms and conditions</a> and other agreements. This includes exchanging information with other government departments for legal reasons.</p>

      <p>We won’t share your information with any other organisations for marketing, market research or commercial purposes, and we don’t pass on your details to other websites.</p>




      <h2 class="govuk-heading-m govuk-!-margin-top-7">Links to other websites</h2>

      <p>The service contains links to other websites.</p>

      <p>This privacy policy only applies to the OZEV electric vehicle chargepoint grants online portal, and doesn’t cover other government services and transactions that we link to. These services have their own terms and conditions and privacy policies.</p>

      <h3 class="govuk-heading-s">Following a link to another website</h3>

      <p>If you go to another website from this one, read the privacy policy on that website to find out what it does with your information.</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-7">Notification of changes to the Privacy Policy</h2>

      <p>We review this Privacy Policy regularly to ensure. By reviewing this page it ensures you are always aware of what information we collect, how we use it and under what circumstances, if any, we will share it with other parties.</p>

      <p>Please be aware that this privacy policy does not apply to any other DfT services and we encourage you to read the Privacy Policy of each service you use.</p>

      <p>If this security and privacy statement changes in any way, we will place an updated version on this page.</p>

    </div>
  </div>

{% endblock %}
