{% extends "layout.html" %}

{% block pageTitle %}
Terms and Conditions
{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <a title="go back to previous page" href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Terms and Conditions</h1>

      <p class="govuk-body">These Terms and Conditions govern your use of the OZEV electric vehicle chargepoint grants service and your relationship with this service.</p>

        <p class="govuk-body">The Department for Transport is the ‘Controller’ for personal data processed as part of the OZEV electric vehicles chargepoint grants.</p>

        <p class="govuk-body">Please read them carefully as they affect your rights and liabilities under the law. If you do not agree to these Terms and Conditions, please do not use this service.</p>



      <h2 class="govuk-heading-m govuk-!-margin-top-7">Service availability</h2>

      <p class="govuk-body">This service should be available daily. We cannot guarantee that the service will be fault free. If a fault occurs, we will attempt to correct the fault as soon as we reasonably can.</p>


      <h2 class="govuk-heading-m govuk-!-margin-top-7">Audit</h2>

      <p class="govuk-body">DfT reserves the right to carry out audits and reviews of your compliance with the terms of this service, and you the customer shall agree to co-operate fully with any such audit or review.</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-7">Continuity of service</h2>

      <p class="govuk-body">Where possible, DfT will use reasonable endeavours to ensure that there is no break in the continuity of service and will only make changes when required. Outages may be required on occasions where essential upgrades to the service need to be implemented.</p>


      <h2 class="govuk-heading-m govuk-!-margin-top-7">Disclaimer</h2>

      <p class="govuk-body">We don’t accept liability for loss or damage incurred by users of this service, whether direct, indirect or consequential, whether caused by tort, breach of contract or otherwise, in connection with our site, its use, the inability to use, or results of the use of our site, any websites linked to it and any materials posted on it.</p>

      <p class="govuk-body">This includes loss of:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>income or revenue</li>
        <li>business</li>
        <li>profits or contracts</li>
        <li>anticipated savings</li>
        <li>data</li>
        <li>goodwill</li>
        <li>tangible property</li>
        <li>wasted management or office time</li>
      </ul>

      <p class="govuk-body">Websites or web pages to which this service is linked are for information purposes only. DfT does not control, endorse, sponsor or approve of content on such websites or pages, except where it is otherwise expressly stated. DfT does not accept responsibility or liability for any losses or penalties incurred as a result of your use of any links or reliance on the content of any website or web pages to which this service is linked.</p>

      <p class="govuk-body">You may not frame or link this service to any other website without the prior written consent of DfT</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-7">Virus protection</h2>

      <p class="govuk-body">We make every effort to check and test material at all stages of production. However, you must take your own precautions to ensure that the process you employ for accessing this website does not expose you to the risk of viruses, malicious computer code or other forms of interference which may damage your own computer system.</p>

      <p class="govuk-body">We can’t accept responsibility for any loss, disruption or damage to your data or your computer system which may occur whilst using material derived from this website</p>


      <h2 class="govuk-heading-m govuk-!-margin-top-7">Viruses, hacking and other offences</h2>

      <p class="govuk-body">You will not misuse the service by knowingly introducing viruses, trojans, worms, logic
bombs or other material which is malicious or technologically harmful nor create any
links from any other website to the service without Our express prior written
permission. You will not attempt to gain unauthorised access to the service or any
server, computer or database connected to the service. You will not attack our service
via a denial-of-service attack or a distributed denial-of-service attack.
By breaching this provision, you would commit a criminal offence under the
Computer Misuse Act 1990. We will report any such breach to the relevant law
enforcement authorities and we will co-operate with those authorities by disclosing
your identity to them.</p>


<h2 class="govuk-heading-m govuk-!-margin-top-7">Amendments to Terms and
Conditions</h2>

<p class="govuk-body">We may revise these Terms and Conditions at any time. If this occurs then the revised version will be displayed for your reference</p>

<p class="govuk-body">If you continue to use this service after the date on which changes come
into effect your use of the service indicates your agreement to be bound
by the new Terms and Conditions.</p>


<h2 class="govuk-heading-m govuk-!-margin-top-7">Changes</h2>

<p class="govuk-body">The Site is subject to change without notice at any time. We
reserve the right at Our sole discretion to make any alteration,
correction or improvement (including adding functionality) to or
to withdraw or correct any error or omission in any portion of the
service without notice.</p>


<h2 class="govuk-heading-m govuk-!-margin-top-7">Severability</h2>

<p class="govuk-body">If any of these terms and conditions are held to be invalid, unenforceable or illegal for
any reason, the remaining terms and conditions shall nevertheless continue in full
force.</p>



<h2 class="govuk-heading-m govuk-!-margin-top-7">Events beyond DfT’s control </h2>

<p class="govuk-body">DfT accept no liability for any failure to comply with these terms and conditions
where such failure is due to circumstance beyond our reasonable control.
If DfT waives any rights available to it under these terms and conditions on one
occasion, this does not mean that those rights will automatically be waived on any
other occasion. </p>

<h2 class="govuk-heading-m govuk-!-margin-top-7">Governing law </h2>

<p class="govuk-body">These terms and conditions shall be governed by and construed in accordance with
the laws of England and Wales. Any dispute arising under these terms and conditions
shall be subject to the exclusive jurisdiction of the courts of England and Wales.</p>

  </div>
  </div>

{% endblock %}
