{% extends "layout.html" %}

{% block pageTitle %}
Applications
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" style="margin-bottom:10px">Residential Chargepoint Grant applications</h1>
  </div>
</div>

<br>
<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">Start a new application</h2>
    <p>Send an eligibility form to a customer to check if they are eligible for the Residential Chargepoint Grant</p>
    <p><a href="customerEmail.html">Send eligibility form to customer</a></p>
  </div>

  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">Applications</h2>
    <p>View applications that are ongoing, need action, or have been completed</p>
    <p><a href="schemeHome.html">View applications</a></p>
  </div>
</div>

</div>
</div>

{% endblock %}