{% extends "layout.html" %}

{% block pageTitle %}
Applications that require action
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="dashboard">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Applications that require action</a>
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Applications that require action</h1>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Your applications</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Reference number</th>
                <th scope="col" class="govuk-table__header">Installer name</th>
                <th scope="col" class="govuk-table__header">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">#893903</th>
                <td class="govuk-table__cell">Electric City Installers</td>
                <td class="govuk-table__cell"><a href="declaration">Start application</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">#100394</th>
                <td class="govuk-table__cell">Eddy Grant Services</td>
                <td class="govuk-table__cell"><a href="#">Start application</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">#733292</th>
                <td class="govuk-table__cell">AC/DC Installs</td>
                <td class="govuk-table__cell"><a href="#">Start application</a></td>
              </tr>
            </tbody>
          </table>

    </div>
  </div>

  {% endblock %}
