{% extends "layout.html" %}

{% block pageTitle %}
You must read the following before proceeding with your application
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">You must read the following before proceeding with your application</h1>

    <p>By continuing, you confirm that you:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>understand that Electric City Installers will conduct an installation based on the details provided in this application</li>
      <li>will provide the correct information to the best of your knowledge</li>
      <li>understand the information provided and any supporting evidence will be used to assess your claim for the grant</li>
      <li>agree to be contacted by the Office for Zero Emission Vehicles (OZEV) or its agents for audit purposes, should your installation be chosen for audit</li>
      <li>understand that any chargepoints applied for will be installed in the property's dedicated, off-street, private parking</li>
    </ul>

    <br>

        <div class="govuk-button-group">
          <a class="govuk-button" data-module="govuk-button" href="address.html">
            Accept and continue
          </a>
        </div>

  </div>
</div>


{% endblock %}
