{% extends "layout.html" %}

{% block pageTitle %}
EHVS Home
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="/0-0-2/dashboard1">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Electric Vehicles Homecharge Scheme</h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l">12 claims in progress</h1>
    <p><a href="#">Show claims in progress</a></p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l">4 claims need action</h1>
    <p><a href="#">Show claims that need action</a></p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l">41 claims completed</h1>
    <p><a href="#">Show completed claims</a></p>
  </div>
</div>

<br>
<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Create a new claim
          </button>
        
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Check a customer's eligibility
          </button>
        </div>

  </div>
</div>


{% endblock %}