{% extends "layout.html" %}

{% block pageTitle %}
Prototype 1
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <!-- <nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav> -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Blue Tick Properties</span>
    <h1 class="govuk-heading-xl" style="margin-bottom:10px">Your dashboard</h1>
    <p><a href="#">View account details</a></p>
  </div>
</div>

<br>
<br>


    <a class="govuk-heading-m" href="declaration.html">Start a new application</a>
    <p>You can claim for <span class="govuk-body govuk-!-font-weight-bold">175</span> more chargepoint sockets this year</p>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <hr>
          <table class="govuk-table govuk-!-margin-top-7">
            <caption class="govuk-table__caption govuk-table__caption--m">Submitted applications</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Reference number</th>
                <th scope="col" class="govuk-table__header">Installer name</th>
                <th scope="col" class="govuk-table__header">Postcode</th>
                <th scope="col" class="govuk-table__header">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">#893903</th>
                <td class="govuk-table__cell">Electric City Installers</td>
                <td class="govuk-table__cell">M1 7DL</td>
                <td class="govuk-table__cell"><a href="#">View application</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">#100394</th>
                <td class="govuk-table__cell">Ohm's Amps</td>
                <td class="govuk-table__cell">EC1V 5ML</td>
                <td class="govuk-table__cell"><a href="#">View application</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">#320021</th>
                <td class="govuk-table__cell">Electrix Electrics</td>
                <td class="govuk-table__cell">BL89 3RW</td>
                <td class="govuk-table__cell"><a href="#">View application</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">#677211</th>
                <td class="govuk-table__cell">Ella's Leccy</td>
                <td class="govuk-table__cell">SL9W 5NW</td>
                <td class="govuk-table__cell"><a href="#">View application</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">#022461</th>
                <td class="govuk-table__cell">Shockwave Installation</td>
                <td class="govuk-table__cell">N8 8WR</td>
                <td class="govuk-table__cell"><a href="#">View application</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">#532733</th>
                <td class="govuk-table__cell">EDM Energy</td>
                <td class="govuk-table__cell">L1 9WS</td>
                <td class="govuk-table__cell"><a href="#">View application</a></td>
              </tr>
            </tbody>
          </table>

      </div>

</div>

</div>
</div>

{% endblock %}
