{% extends "layout.html" %}

{% block pageTitle %}
Confirm the subcontractor who completed this installation -
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <span class="govuk-caption-l">Sherborne Properties</span>
    <h1 class="govuk-heading-xl">Confirm subcontractor details</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Subcontractor name
        </dt>
        <dd class="govuk-summary-list__value">
          Angus Young Installations
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Subcontractor OZEV installer number
        </dt>
        <dd class="govuk-summary-list__value">
          49320553
        </dd>
      </div>
    </dl>

    <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      This is not my subcontractor
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>Check you have used the correct installer number for your subcontractor.</p>

    <p>If this is not your subcontractor, you need to contact OZEV.</p>

    <p class="govuk-heading-s">Telephone</p>

<ul class="govuk-list">
  <li>Telephone: 020 7946 0101</li>
  <li>Textphone: 020 7946 0102</li>
  <li>Monday to Friday, 9am to 5pm</li>
</ul>
<p class="govuk-body">
  <a class="govuk-link" href="#">Find out about call charges</a>
</p>

<p class="govuk-heading-s">Email</p>

<ul class="govuk-list">
  <li><a class="govuk-link" href="#">ozev@gov.uk</a></li>
  <li>We aim to respond within 3 working days</li>
</ul>

<h3 class="govuk-heading-s">Webchat</h3>

<ul class="govuk-list">
  <li><a class="govuk-link" href="#">Speak to an adviser now</a></li>
  <li>Current waiting time is 15 minutes</li>
</ul>

  </div>
</details>



    <br>
    <div class="govuk-button-group">
      <a class="govuk-button" data-module="govuk-button" href="dateOfCompletion">
        Confirm and continue
      </a>
    </div>


  </div>
</div>


{% endblock %}
