{% extends "layout.html" %}

{% block pageTitle %}
Check your answers before sending your application
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav> -->
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Blue Tick Properties</span>

    <h1 class="govuk-heading-xl">View application #390466</h1>

    <p>The installer has completed the claim. You have <b>4</b> more days to confirm the claim details that they have provided. If you don't reject the claim details before the end of the deadline, then OZEV will accept the details the installer has provided.</p>



    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status of application
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--blue">Confirm claim</strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Installer name name
        </dt>
        <dd class="govuk-summary-list__value">
          Fiona Apple
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Installer number
        </dt>
        <dd class="govuk-summary-list__value">
          632392
        </dd>
      </div>
    </dl>

    <h1 class="govuk-heading-m">Address details</h1>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Address</th>
          <th scope="col" class="govuk-table__header">Number of sockets</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">129 Letham Lane,<br>Perth,<br>PH1 2XX</th>
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell"><a href="chargepointModel.html">View</td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">11 Waterfront Way,<br>Dundee,<br>DD1 3XX</th>
          <td class="govuk-table__cell">9</td>
          <td class="govuk-table__cell"><a href="#">View</td>
        </tr>
      </tbody>
    </table>

<br>
    <h1 class="govuk-heading-m">Claim details</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Chargepoint manufacturer, family and model
        </dt>
        <dd class="govuk-summary-list__value">
          EV Meter<br>Pilot EV<br>Classic
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Amount of chargepoints installed
        </dt>
        <dd class="govuk-summary-list__value">
          5
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Serial numbers
        </dt>
        <dd class="govuk-summary-list__value">
          B8J6HI7909<br>HF83F7F7DJ<br>IFJ349F3JD<br>and 2 more
        </dd>
      </div>
    </dl>


      <h2 class="govuk-heading-m">Evidence</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Proof of installation
        </dt>
        <dd class="govuk-summary-list__value">
          photo.png<br>photo2.png<br>photo3.png<br>photo4.png
        </dd>
      </div>
    </dl>

    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
        Confirm claim details
      </button>
    
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Reject claim details
      </button>
    </div>


  </div>
</div>


{% endblock %}
