{% extends "layout.html" %}

{% block pageTitle %}
Register for OZEV Electric Vehicle Chargepoint Grants
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Register for OZEV Electric Vehicle Chargepoint Grants
      </h1>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <!-- <li>apply for the Landlord Chargepoint Grant</li> -->
        <li>register for an OZEV Electric Vehicle Chargepoint Grants portal to apply for the Landlord Chargepoint Grant</li>
        <li>create an account as a property management company to apply for the Landlord Chargepoint Grant on behalf of your clients</li>
        <li>create an account as a landlord to apply for the Landlord Chargepoint Grant for your properties</li>
      </ul>

      <h2 class="govuk-heading-m">Before you start</h2>
      <p>To register will need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>to identify your business by providing your Companies House registration number, VAT registration number, Private Registered Provider of Social Housing (PRP) or Charity number </li>
        <li>access to an email address</li>
        <li>a UK mobile phone with signal, as we will text you a security code </li>
      </ul>

      <p>If you are a Property Management company you will also need the information listed above for each client you register.</p>

      <!-- <p>To help keep your data safe from identity fraud, OZEV will ask you to add a device to your account account. We’ll send an access code to your device each time you sign in.</p> -->

      <!-- <p>Registering takes around 5 minutes.</p> -->

      <p>If you already have an account you can <a href="signIn">sign in to the OZEV Electric Vehicle Chargepoint Grants portal</a> using your email and password.</p>

      <p>There are different services and guidance available for the <a href="#">Electric Vehicle Homecharge Scheme (EVHS)</a> and <a href="https://www.gov.uk/government/publications/workplace-charging-scheme-guidance-for-applicants-installers-and-manufacturers/workplace-charging-scheme-guidance-for-applicants-chargepoint-installers-and-manufacturers">Workplace Chargepoint Scheme (WCS)</a>.</p>


      <a href="signIn.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <!-- <h2 class="govuk-heading-m">Before you start</h2> -->

      <p>You can also <a href="#">register by post</a>.</p>

      <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>

      <!-- <p>You cannot register for this service if you are not a UK registered business.</p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
