{% extends "layout.html" %}

{% block pageTitle %}
Check your answers before sending your application
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav> -->
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Blue Tick Properties</span>

    <h1 class="govuk-heading-xl">View application #893903</h1>

    <p>You have submitted the below details to be reviewed by OZEV. OZEV will contact you when they have made a decision regarding whether the claim will be accepted or rejected for payment.</p>



    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status of application
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--yellow">Submitted for review</strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Customer name
        </dt>
        <dd class="govuk-summary-list__value">
          Blue Tick Properties
        </dd>
      </div>
    </dl>

    <h1 class="govuk-heading-m">Installation details</h1>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Property type</th>
          <td class="govuk-table__cell">Residential</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Address</th>
          <td class="govuk-table__cell">14 Royal Road,<br>London,<br>EC1R 1XS</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Amount of sockets</th>
          <td class="govuk-table__cell">3</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Private off-street parking</th>
          <td class="govuk-table__cell">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Building type</th>
          <td class="govuk-table__cell">Bungalow</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Subcontractor used</th>
          <td class="govuk-table__cell">Yes</td>
        </tr>
      </tbody>
    </table>

    <br><br>


    <h2 class="govuk-heading-m">Subcontractor details</h2>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Subcontractor's OZEV installer number</th>
          <td class="govuk-table__cell">49320553</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Subcontractor name</th>
          <td class="govuk-table__cell">Angus Young Installations</td>
        </tr>
      </tbody>
    </table>

    <br><br>


    <h2 class="govuk-heading-m">Chargepoints in application</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Serial number</th>
          <th scope="col" class="govuk-table__header">Chargepoint</th>
          <th scope="col" class="govuk-table__header">Amount of sockets</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">ED1234</th>
          <td class="govuk-table__cell">Char.gy, CP01</td>
          <td class="govuk-table__cell">2</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">PH5678</th>
          <td class="govuk-table__cell">Char.gy, CP02</td>
          <td class="govuk-table__cell">1</td>
        </tr>
      </tbody>
    </table>

    <br><br>

   <!-- <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Address</th>
          <th scope="col" class="govuk-table__header">Number of sockets</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">14 Royal Road,<br>London,<br>EC1R 1BC</th>
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell"><a href="chargepointModel.html">Review</td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">37 Scott Street,<br>London,<br>WC1N 1BC</th>
          <td class="govuk-table__cell">7</td>
          <td class="govuk-table__cell"><a href="#">Review</td>
        </tr>
      </tbody>
    </table>-->

    <h1 class="govuk-heading-m">Other details</h1>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Proof of installation</th>
          <td class="govuk-table__cell">image1.jpg<br>image2.jpg</td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Date that installations were completed</th>
          <td class="govuk-table__cell">21 July 2021</td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Total cost of installations</th>
          <td class="govuk-table__cell">£3092.03</td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Proof of customer invoice</th>
          <td class="govuk-table__cell">invoice.jpg</td>
        </tr>
      </tbody>
    </table>


  </div>
</div>


{% endblock %}
