{% extends "layout.html" %}

{% block pageTitle %}
What was the date of installation? -
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">What was the date of installation?</h1>

    <p>The date of installation has to be on or after the date that OZEV confirmed that the customer is eligible for the grant. The date of installation cannot be in the future.</p>

    <div class="govuk-form-group govuk-!-margin-bottom-7 govuk-!-margin-top-3">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="expiry-hint">
                  <span id="expiry-hint" class="govuk-hint">
                    For example, 18 6 2021
                  </span>
                  <div class="govuk-date-input" id="expiry">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="expiry-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-day" name="expiry-day" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="expiry-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-month" name="expiry-month" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="expiry-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiry-year" name="expiry-year" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>


    <div class="govuk-button-group">
      <a class="govuk-button" data-module="govuk-button" href="installation-cost.html">
        Continue
      </a>
    </div>


  </div>
</div>


{% endblock %}
