{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="installer3/schemeHome">Back</a>


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-heading-xl">View application #403287</p>


    
    <p>OZEV has confirmed that this user is eligible to receive the Electric Vehicle Homecharge Scheme. Claim on behalf of this user when you have installed the chargepoint listed below at their property.</p>



    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status of application
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--green">Ready to claim</strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Customer name
        </dt>
        <dd class="govuk-summary-list__value">
          John Smith
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Customer email
        </dt>
        <dd class="govuk-summary-list__value">
          john.smith@gmail.com
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Customer phone number
        </dt>
        <dd class="govuk-summary-list__value">
          07384123456
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Customer's eligibility details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Claimed before
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Residential property
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Off street private parking
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
        </dl>



        <h2 class="govuk-heading-m">About their property</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Property address
            </dt>
            <dd class="govuk-summary-list__value">
              5 Some Road<br>Some Town<br>AB1 2BC
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of property
            </dt>
            <dd class="govuk-summary-list__value">
              Flat
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ownership of property
            </dt>
            <dd class="govuk-summary-list__value">
              They rent the property
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do they have landlord consent?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">About their vehicle</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Vehicle ownership
            </dt>
            <dd class="govuk-summary-list__value">
              They are the registered keeper of the vehicle
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Vehicle's registration number
            </dt>
            <dd class="govuk-summary-list__value">
              AB13 CDE
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Vehicle manufacturer
            </dt>
            <dd class="govuk-summary-list__value">
              Audi
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Vehicle model
            </dt>
            <dd class="govuk-summary-list__value">
              A3 e-tron
            </dd>
          </div>
        </dl>

    <a class="govuk-button" href="declaration.html">Complete claim</a>

  </div>
</div>


{% endblock %}