{% extends "layout-pmc.html" %}

{% block pageTitle %}
Who is this application for?
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-form-group">
  <div class="govuk-grid-column-two-thirds">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Who is this application for?</h1>
    </legend>
    <p class="govuk-body">If your client is not listed here you will need to add them to your client list by registering them. This can be done within the <a href="clients">manage your clients</a> section.</p>
    <div class="govuk-radios govuk-!-margin-top-5">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          Highfield Properties
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          John Smith
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
          Jane Smith
        </label>
      </div>
    </div>

  </fieldset>



<div class="govuk-button-group govuk-!-margin-top-5">
  <a class="govuk-button" data-module="govuk-button" href="type-of-grant-property">
    Continue
  </a>
</div>

{% endblock %}
