{% extends "layout-pmc.html" %}

{% block pageTitle %}
Application submitted
{% endblock %}


{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="confirmation2.html">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Your installation is eligible for a grant
      </h1>
      <div class="govuk-panel__body">
        Your reference number:<br><strong>L893903</strong>
      </div>
    </div>
    <p class="govuk-body">
      We have emailed your installer to let them know you have finished your part of the application.
    </p>

    <!-- <div class="hmcts-progress-bar">
<ol class="hmcts-progress-bar__list">

<li class="hmcts-progress-bar__list-item">
  <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
  <span class="hmcts-progress-bar__label">You apply</span>
</li>

<li class="hmcts-progress-bar__list-item" aria-current="step">
  <span class="hmcts-progress-bar__icon"></span>
  <span class="hmcts-progress-bar__label">Your husband/wife responds</span>
</li>

<li class="hmcts-progress-bar__list-item">
  <span class="hmcts-progress-bar__icon"></span>
  <span class="hmcts-progress-bar__label">The court decides</span>
</li>

<li class="hmcts-progress-bar__list-item">
  <span class="hmcts-progress-bar__icon"></span>
  <span class="hmcts-progress-bar__label">Divorce finalised</span>
</li>

</ol>
</div> -->

    <!-- <p class="govuk-body">We have sent you and Electric City Installers an email to confirm your application has been submitted.</p> -->

    <h2 class="govuk-heading-m">What happens now</h2>

    <p class="govuk-body">
      You can now contact your installer to arrange the infrastucture and installation of your chargepoints.
    </p>
    <p class="govuk-body">
      Make sure you use <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1052507/electric-vehicle-homecharge-scheme-approved-chargepoint-model-list.csv/preview">an OZEV approved chargepoint model</a>, or you will not be able to get the grant for the installation.</p>


    <h3 class="govuk-heading-s">This application is valid for 3 months</h3>
    <p class="govuk-body">
      The grant amount is valid until 6 February 2022. This means your installer has 90 days to complete the work and submit the claim.
    </p>

    <p class="govuk-body">
      If, for any reason the installer does not complete the work in 90 days, you or the installer can ask for a 90 day extension. You can do this from your account.
    </p>

    <h2 class="govuk-heading-m">What happens after the installation</h2>
    <h3 class="govuk-heading-s">Installer will submit their part of the claim</h3>
    <p class="govuk-body">When the installation is finished, your installer will have to submit the evidence. This includes photographs, chargepoint serial numbers and the invoice they have given to you.</p>


    <a class="govuk-button govuk-!-margin-top-4" href="dashboard2.html"> Manage your applications</a>

    <p class="govuk-body">
      <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
    </p>
  </div>
</div>


{% endblock %}
