{% extends "layout-ll.html" %}

{% block pageTitle %}
Declaration
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
</nav> -->
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Blue Tick Properties</span>

    <h1 class="govuk-heading-xl">Declaration</h1>

  <p class="govuk-body">By continuing, you confirm that you:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>have agreed to complete the installation with an Office for Zero Emission Vehicles (OZEV) authorised installer</li>
      <li>will provide the correct information to the best of your knowledge</li>
      <li>understand that the information and supporting evidence you provide will be used to assess your application and claim for this grant</li>
      <li>agree to work with OZEV or its agents should the installation be chosen for audit</li>
      <li>understand that any chargepoints you apply for must be installed in the property's private parking</li>
      <li>your client has considered the needs of EV owners who may be disabled or have mobility issues when installing chargepoints.</li>
    </ul>

  <p class="govuk-body">You also confirm that when installing a chargepoint, you will consider accessibility and mobility needs of EV owners.</p>

  <p class="govuk-body">Your information will be handled in accordance with the <a href="https://www.gov.uk/government/organisations/office-for-low-emission-vehicles/about/personal-information-charter" rel="noreferrer noopener" along with target="_blank">OZEV personal information charter (opens in new tab)</a>.</p>
    <div class="govuk-warning-text govuk-!-margin-top-7">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        <b>It is an offence to make a false declaration to obtain a grant and you could be fined or prosecuted.</b>
      </strong>
    </div>

        <div class="govuk-button-group govuk-!-margin-top-7">
          <a class="govuk-button" data-module="govuk-button" href="installer-detail.html">
            Accept and continue
          </a>
        </div>

  </div>
</div>


{% endblock %}
