{% extends "layout-pmc.html" %}

{% block pageTitle %}
Property details
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>

</nav> -->

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Highfield Properties</span>

    <h1 class="govuk-heading-xl">How many parking spaces does your car park have?</h1>

    <form class="form" action="/pmc-parking-spaces" method="post">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="parking-spaces" name="parking-spaces" type="radio"
              value="1 to 4">
            <label class="govuk-label govuk-radios__label" for="parking-spaces">
              1 to 4
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="parking-spaces2" name="parking-spaces" type="radio"
              value="5 to 9">
            <label class="govuk-label govuk-radios__label" for="parking-spaces2">
              5 to 9
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="parking-spaces3" name="parking-spaces" type="radio"
              value="10 to 19">
            <label class="govuk-label govuk-radios__label" for="parking-spaces3">
              10 to 19
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="parking-spaces4" name="parking-spaces" type="radio"
              value="20 to 49">
            <label class="govuk-label govuk-radios__label" for="parking-spaces4">
              20 to 49
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="parking-spaces5" name="parking-spaces" type="radio"
              value="50 to 100">
            <label class="govuk-label govuk-radios__label" for="parking-spaces5">
              50 to 100
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="parking-spaces6" name="parking-spaces" type="radio"
              value="More than 100">
            <label class="govuk-label govuk-radios__label" for="parking-spaces6">
              More than 100
            </label>
          </div>
          <!-- <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio"
              value="no">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
              Not applicable
            </label>
          </div> -->
        </div>

      </fieldset>
    </div>




    <div class="govuk-button-group govuk-!-margin-top-7">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </div>

</form>

  </div>
</div>


{% endblock %}
