{% extends "layout-ll.html" %}

{% block pageTitle %}
What grant are you applying for?
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <span class="govuk-caption-l">Highfield Properties</span>
      <h1 class="govuk-fieldset__heading">
        What type of property are you applying for
      </h1>
    </legend>
    <br>

<form class="form" method="post">
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="choose-grant" name="choose-grant" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="choose-grant">
          Residential
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="choose-grant-2" name="choose-grant" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="choose-grant-2">
          Commercial
        </label>
      </div>
       <!-- <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          Car park infrastucture and EV chargepoint grant
        </label>
      </div> -->

        <a class="govuk-button govuk-!-margin-top-5" href="choose-grant">Continue</a>

    </div>
</form>

  </fieldset>
    </div>
  </div>
</div>


{% endblock %}
