{% extends "layout.html" %}

{% block pageTitle %}
EHVS Home
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Declaration</h1>

    <p>By continuing, you confirm that you:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>will provide to the installer the required documents before they install the chargepoint</li>
      <li>confirm the information you have provided is correct to the best of your knowledge</li>
      <li>will inform the installer if your circumstances change and you are no longer eligible for this grant</li>
    </ul>

    <div class="govuk-warning-text">
		  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
		  <strong class="govuk-warning-text__text">
		    <span class="govuk-warning-text__assistive">Warning</span>
		    <b>It is an offence to make a false declaration to obtain a grant and you could be fined or prosecuted.</b>
		  </strong>
		</div>

		<div class="govuk-checkboxes__item govuk-!-margin-top-6">
	        <input class="govuk-checkboxes__input" id="Declaration" name="Declaration" type="checkbox" value="confirm">
	        <label class="govuk-label govuk-checkboxes__label" for="Declaration" style="padding-top: 0px ">
	          I confirm that I understand the grant conditions and that the information I have provided is true and correct to the best of my knowledge.
	        </label>
      	</div>


        <div class="govuk-button-group govuk-!-margin-top-6">
          <a class="govuk-button" data-module="govuk-button" href="confirmation.html">
            Confirm and submit
          </a>
        </div>

  </div>
</div>


{% endblock %}
