{% extends "layout.html" %}



{% block pageTitle %}
Sign up to check eligibility for the Electric Vehicles Homecharge Scheme
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Sign in to the Electric Vehicles Homecharge Scheme
          </h1>
        </legend>
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-3">
            Username<span class="govuk-visually-hidden"></span>
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-line-1" name="address-line-1" type="text"></div>
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-2">
            Password<span class="govuk-visually-hidden"></span>
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-line-2" name="address-line-2" type="text"></div>
      
      </fieldset>

      <p><a href="usernamePassword">Sign up for the Electric Vehicles Homecharge Scheme</a></p>
  

    </div>


{% endblock %}
