{% extends "layout.html" %}

{% block pageTitle %}
Prototype 1
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" style="margin-bottom:10px">Sign in to your Electric Vehicles Chargepoint Grants account</h1>

    <br>

    <div class="govuk-form-group">
      <label class="govuk-label" for="address-county">
        ID
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="address-county">
        Password
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
    </div>

    <br>

    <a class="govuk-button" data-module="govuk-button" href="dashboard.html">
      Sign in
    </a>

    <br>

    <p><a href="#">Create sign in details</a></p>

  </div>
</div>

{% endblock %}
