{% extends "layout.html" %}

{% block pageTitle %}
You must read the following before proceeding with your application
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
</nav>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Blue Tick Properties</span>

    <h1 class="govuk-heading-xl">You must read the following before proceeding with your application</h1>

    <p>By continuing, you confirm that you:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>have agreed to complete the installation that you are applying for with a registered installer</li>
      <li>will provide the correct information to the best of your knowledge</li>
      <li>understand the information provided and any supporting evidence will be used to assess your claim for the grant</li>
      <li>agree to be contacted by the Office for Zero Emission Vehicles (OZEV) or its agents for audit purposes, should your installation be chosen for audit</li>
      <li>understand that any chargepoints applied for will be installed in the property's dedicated, off-street, private parking</li>
    </ul>

    <br>

        <div class="govuk-button-group">
          <a class="govuk-button" data-module="govuk-button" href="installerDetail.html">
            Accept and continue
          </a>
        </div>

  </div>
</div>


{% endblock %}
