{% extends "layout.html" %}

{% block pageTitle %}
Applications that require action
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
</nav>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Blue Tick Properties</span>
    <h1 class="govuk-heading-xl">Enter your installer's details</h1>
    <p>Your installer will provide you with their installer number when you arrange your installation with them.</p>
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-county">
        Installer number
      </label>
      <input class="govuk-input govuk-!-width-one-third" id="address-county" name="address-county" type="text"></div>

      <a class="govuk-button" href="installerConfirm.html">Continue</a>

  </div>
</div>

  {% endblock %}
