{% extends "layout-ll.html" %}

{% block pageTitle %}
Review completed claim<
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav> -->
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <span class="govuk-caption-l">Blue Tick Properties</span> -->

    <h1 class="govuk-heading-xl">Review completed claim</h1>

<p>Your installer has completed the claim. You can review the information and the installation evidence provided.</p>
<p>You have <b>4 more days</b> to confirm or challenge the details the installer has provided.</p>


    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <h1 class="govuk-heading-m govuk-!-margin-top-5">Claim summary</h1>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reference number
        </dt>
        <dd class="govuk-summary-list__value">390466
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Installer name name
        </dt>
        <dd class="govuk-summary-list__value">
          Electric City
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Installer number
        </dt>
        <dd class="govuk-summary-list__value">
          632392
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of installation
        </dt>
        <dd class="govuk-summary-list__value">
          21 July 2021
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date claim was submitted
        </dt>
        <dd class="govuk-summary-list__value">
          30 July 2021
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status of application
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--red">Awaiting customer review</strong>
        </dd>
      </div>
    </dl>



    <h1 class="govuk-heading-m">Address details</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Property type
        </dt>
        <dd class="govuk-summary-list__value">
          Residential
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          129 Letham Lane
          <br>Perth
          <br>PH1 1XX
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Number of sockets
        </dt>
        <dd class="govuk-summary-list__value">
          7
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Private off-street parking
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Building type
        </dt>
        <dd class="govuk-summary-list__value">
          Bungalow
        </dd>
      </div>
    </dl>


    <h2 class="govuk-heading-m govuk-!-margin-top-7">Financial details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total cost of installations
          </dt>
          <dd class="govuk-summary-list__value">
            £3092.03
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"> </span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Proof of customer invoice
          </dt>
          <dd class="govuk-summary-list__value">
            invoice.jpg
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Download invoice<span class="govuk-visually-hidden"> xxx</span>
            </a>
          </dd>
        </div>
      </dl>


    <!-- <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Total cost of installations</th>
          <td class="govuk-table__cell">£3092.03</td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Proof of customer invoice</th>
          <td class="govuk-table__cell">invoice.jpg</td>
          <td class="govuk-table__cell"><a class="govuk-link" href="#">
            View invoice<span class="govuk-visually-hidden"> </span>
          </a>
          </td>
        </tr>
      </tbody>
    </table> -->

<h2 class="govuk-heading-m govuk-!-margin-top-7">Chargepoints details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Chargepoint 1
    </dt>
    <dd class="govuk-summary-list__value">
      <b>Manufacturer:</b> Char.gy <br>
      <b>Model:</b> CP01<br>
      <b>Serial number:</b> ED1234<br>
      <b>Photo</b> <br>image1.jpg<br>image2.jpg
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Download photos<span class="govuk-visually-hidden"> xxx</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Chargepoint 2
    </dt>
    <dd class="govuk-summary-list__value">
      <b>Manufacturer:</b> Char.gy <br>
      <b>Model:</b> CP02<br>
      <b>Serial number:</b> ED1243535989G4<br>
      <b>Photo</b> <br>image.jpg<br>image4.jpg
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Download photos<span class="govuk-visually-hidden"> xxx</span>
      </a>
    </dd>
  </div>
</dl>


<div class="govuk-button-group">
  <a class="govuk-button" data-module="govuk-button" href="approval-sent">
  Approve installation
  </a>

  <a class="govuk-button" data-module="govuk-button" href="challenge-installation">
  Challenge installation
  </a>

</div>
  </div>


</div>


{% endblock %}
