{% extends "layout-ll.html" %}

{% block pageTitle %}
How many chargepoint sockets are you installing at this property?
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>

</nav> -->
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Blue Tick Properties</span>

    <h1 class="govuk-heading-xl">How many chargepoint sockets will be installed at this property?</h1>

    <p class="govuk-body">The number of chargepoint sockets may be different from the number of chargepoints. A chargepoint may have a single chargepoint socket or 2 chargepoint sockets (a twin or double socket).</p>

    <p class="govuk-body">OZEV pays 75% of the cost of buying and installing an EV chargepoint socket, up to £350.</p>

    <p class="govuk-body">The grant amount is calculated on the number of chargepoint sockets installed. </p>

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        I don't know the number of chargepoint sockets
      </span>
    </summary>
    <div class="govuk-details__text">
    Contact your installer to confirm the number of chargepoint sockets that will be installed. It is important that you agree on the number of chargepoint sockets that will be installed.
    </div>
  </details>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
          Total number of chargepoints
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
    </fieldset>
  </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Total number of chargepoint sockets
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </fieldset>
    </div>

    <br>


    <div class="govuk-button-group">
      <a class="govuk-button" data-module="govuk-button" href="checkYourAnswers.html">
        Continue
      </a>
    </div>


  </div>
</div>


{% endblock %}
