{% extends "layout.html" %}

{% block pageTitle %}
Sign in to your OZEV EV Chargepoint Grants account
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Sign in to your OZEV Electric Vehicle Chargepoint Grants account</h1>

    <p>By using this service you agree to the <a href="">terms and conditions</a>.</p>

    <div class="govuk-form-group govuk-!-margin-top-7">
      <label class="govuk-label" for="address-county">
        Email address
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="address-county">
        Password
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
    </div>

    <p class="govuk-body"><a href="#">Create an OZEV Electric Vehicle Chargepoint Grants account</a></p>

    <br>

    <a class="govuk-button" data-module="govuk-button" href="">
      Sign in
    </a>

    <br>
    <br>
    <br>

    <div class="form-group">
					<h2 class="govuk-heading-m">Need help signing in?</h2>
          <ul class="govuk-list">
					<li><a href="#">I have forgotten my username</a></li>
					<li><a href="#">I have forgotten my password</a></li>
        </ul>
				</div>

  </div>
</div>

{% endblock %}
