{% extends "layout.html" %}

{% block pageTitle %}
Apply for the OZEV electric vehicle chargepoint grant for landlords
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Apply for the OZEV electric vehicle chargepoint grant for landlords
      </h1>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>create an account on the OZEV Electric Vehicle Chargepoint Grants portal</li>
        <li>apply for the OZEV electric vehicle chargepoint grant for landlords</li>
      </ul>

      <p>Who can use this service:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Landlords of residential properties</li>
        <li>Landlords of commercial properties</li>
        <li>Property management companies acting on behalf of landlords</li>
      </ul>

      <h2 class="govuk-heading-m">Before you start</h2>
      <p>To create an account you will need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>to identify your business by providing your Companies House registration number, VAT registration number or Private Registered Provider of Social Housing (PRP) number</li>
        <li>access to an email address</li>
        <li>a UK mobile phone with signal, as we will text you a security code </li>
      </ul>

      <p>If you are a Property Management company you will also need the information listed above for each client you register.</p>

      <!-- <p>Creating an account takes around 5 minutes.</p> -->

     <div class="govuk-inset-text">
      If you are an installer <a href="#">check how to create an installer account</a>. If you have already set-up your access, you can <a href="signIn">sign in to the OZEV EV Chargepoint Grants portal</a> using your email and password.
      </div>

      <p>There are different services and guidance available for the <a href="#">Electric Vehicle Homecharge Scheme (EVHS)</a> and <a href="https://www.gov.uk/government/publications/workplace-charging-scheme-guidance-for-applicants-installers-and-manufacturers/workplace-charging-scheme-guidance-for-applicants-chargepoint-installers-and-manufacturers">Workplace Chargepoint Scheme (WCS)</a>.</p>


      <a href="signIn.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <!-- <h2 class="govuk-heading-m">Before you start</h2> -->

      <!-- <p>You can also <a href="#">register by post</a>.</p> -->

      <p>This service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>

      <!-- <p>You cannot register for this service if you are not a UK registered business.</p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
