{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
    <span class="govuk-caption-xl gem-c-title__context">
      Guidance
    </span>
  <h1 class="gem-c-title__text govuk-heading-l">
    Apply for an electric vehicle grant
  </h1>
</div>
  </div>

  <div class="govuk-grid-column-two-thirds">

  <p class="gem-c-lead-paragraph">Manage your low emission vehicle orders if you're a car manufacturer and dealership.</p>

  </div>
</div>

{% endblock %}
