{% extends "layout.html" %}

{% block pageTitle %}
What type of building is your property?
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">You have not used all of the chargepoint sockets you applied for</h1>

    <p>Your customer applied for 10 chargepoint sockets, however you have only installed 8. You can continue with your claim, however doing this will mean that you cannot claim for the chargepoints that were not installed.</p>



    <div class="govuk-button-group govuk-!-margin-top-7">
      <a class="govuk-button" data-module="govuk-button" href="confirmChargepoints.html">
        Continue
      </a>
    </div>


  </div>
</div>


{% endblock %}
