{% extends "layout.html" %}



{% block pageTitle %}
GOV guidance
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<style type="text/css">
.app-c-contents-list__list-item {
    padding-top: 10px;
    line-height: 1.3;
    list-style-type: none;
}
.app-c-contents-list__list-item {
    padding-top: 7.5px;
}
.app-c-contents-list__list-item--dashed {
    margin-left: -15px;
    padding-right: 25px;
}
.app-c-contents-list__list-item--dashed::before {
    content: "— ";
    margin-left: -25px;
    padding-right: 5px;
}

.part-navigation-container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #bfc1c3;
}
/*pagination */
.pub-c-pagination {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -15px;
    margin-right: -15px;
}
.pub-c-pagination__list {
    margin: 0;
    padding: 0;
}

@media (min-width: 641px)
.pub-c-pagination__item {
    font-size: 16px;
    line-height: 1.25;
}
.pub-c-pagination__item {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.1428571429;
    float: left;
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
    width: 50%;
}

.pub-c-pagination__link:visited {
    color: #005ea5;
}
a:visited {
    color: #4c2c92;
}
a:link {
    color: #005ea5;
}
.pub-c-pagination__link {
    display: block;
    padding: 15px;
    text-decoration: none;
}
@media (min-width: 641px)
.pub-c-pagination__link-title {
    font-size: 27px;
    line-height: 1.25;
}

.pub-c-pagination__link-title {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 20px;
    line-height: 1.1111111111;
    display: block;
}
.visually-hidden, .visuallyhidden {
    position: absolute;
    left: -9999em;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.pub-c-pagination__link-label {
    display: inline-block;
    margin-top: 0.1em;
    text-decoration: underline;
}

.pub-c-pagination__item--next {
    float: right;
    text-align: right;
}

@media (min-width: 641px)
.pub-c-pagination__item {
    font-size: 16px;
    line-height: 1.25;
}
.pub-c-pagination__item {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.1428571429;
    float: left;
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
    width: 50%;
}
.pub-c-pagination__list:after {
    content: "";
    display: block;
    clear: both;
}

.pub-c-pagination__item--previous {
    float: left;
    text-align: left;
}
.pub-c-pagination__item--next {
    float: right;
    text-align: right;
}


</style>

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-xl gem-c-title__context">
Guidance
</span>
<h1 class="govuk-heading-l">The electric vehicle (EV) infrastructure grant for residential landlords</h1>

<p class="pub-c-lead-paragraph">
The Office of Zero Emission Vehicles (OZEV) now pay grants to non residential landlords, social housing providers and property factors to help with the cost of installing infrastructure for EV chargepoints in their rental property.</p>

<p class="pub-c-lead-paragraph">This page has details on the kind property and landlords can apply for this grant, along with the requirements the installation needs to meet in order to get the grant.</p>

<p class="pub-c-lead-paragraph">For guidance on how to apply for this grant, read the <a href="https://ev-grants.herokuapp.com/CarPark/iteration01/installer-step-by-step"> step-by-step guide of the landlord infrastructure grant for installers</a><p>

<aside class="part-navigation-container" role="complementary">

<nav role="navigation" class="app-c-contents-list " data-module="track-click" aria-label="Pages in this guide">
<h2 class="govuk-body-s">
Contents
</h2>

<ol class="gem-c-contents-list__list">
<li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
<a class="gem-c-contents-list__link govuk-link  govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#What grants can landlords get?" data-track-options="" href="#What grants can landlords get?">What grants can landlords get?</a>
</li>

<li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
<a class="gem-c-contents-list__link govuk-link  govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#which-landlords-can-apply-for-this-grant?" data-track-options="" href="#which-landlords-can-apply-for-this-grant?">Which landlords can apply for this grant?</a>
</li>

<li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
<a class="gem-c-contents-list__link govuk-link  govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#what-kind-of-properties-can-get-this-grant?" data-track-options="" href="#what-kind-of-properties-can-get-this-grant?">What kind of properties can get this grant?</a>
</li>

<li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
<a class="gem-c-contents-list__link govuk-link  govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#how-much-is-the-infrastructure-grant-worth?" data-track-options="" href="#how-much-is-the-infrastructure-grant-worth?">How much is the infrastructure grant worth?</a>
</li>

<li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
<a class="gem-c-contents-list__link govuk-link  govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#what-are-my-responsibilities-as-an-installer?" data-track-options="" href="#what-are-my-responsibilities-as-an-installer?">What are my responsibilities as an installer?</a>
</li>

<li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
<a class="gem-c-contents-list__link govuk-link  govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#phow-does-the-grant-process-work?" data-track-options="" href="#how-does-the-grant-process-work?">How does the grant process work?</a>
</li>


<li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
<a class="gem-c-contents-list__link govuk-link  govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#rules" data-track-options="" href="#rules">Grant rules and restrictions</a>
</li>

<li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
<a class="gem-c-contents-list__link govuk-link  govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#other-grants" data-track-options="" href="#other-grants">Other help you can get</a>
</li>


</ol>
</nav>
</aside>

<h2 class="govuk-heading-m" id="What grants can landlords get?">What type of grants can landlords get?</h2>


<p class="govuk-body">We have set up 2 grants to support residential landlords with the cost of installing EV chargepoints:

<ul class="govuk-list govuk-list--bullet">
<li><b>Infrastructure grant</b> to support the cost of the infrastructure to charge at least 5 EVs. You must also install 1 chargepoint.</li>

<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
What do we mean by infrastructure?
</span>
</summary>
<div class="govuk-details__text">
<p>Infrastructure means all the cabling and ground work right up to any chargepoints, to make sure they are safely and properly connected.
</div>
</details>

<li><b>Residential chargepoint grant</b> to install chargepoints for their tenants. This is a different grant from the one we are describing on this page. <a href="https://ev-grants.herokuapp.com/mmvp/installer/installer-step-by-step">Find out about the residential chargepoint grant</a>
</li>
</ul>

<h2 class="govuk-heading-m" id="which-landlords-can-apply-for-this-grant?">Which landlords can apply for this grant?</h2>

<p class="govuk-body">To apply for this grant, landlords must be: </p>
<ul class="govuk-list govuk-list--bullet">
<li>landlords of residential property with property that they let or intend to let</li>
<li>right to manage (RTM) companies freeholders</li>
<li>companies owning the freehold</li>
<li>companies owning the building’s common areas including shareholders who are the leaseholders</li>
<li>leaseholders who have the freeholder’s consent to install a chargepoint</li>
<li>property factors</li>
<li>private registered providers of social housing (PRP)</li>
<li>social entities</li>
<li>local authorities</li>
<li>housing associations</li>
<li>public landlords</li>
</ul>

<p class="govuk-body">Landlords can apply if they live in a flat in a block of flats that they are applying for,  of the apartment block they are applying for.</p>

<p class="govuk-body">You cannot apply for this grant if you use the property for your own business.</p>

<h2 class="govuk-heading-m" id="what-kind-of-properties-can-get-this-grant?">What kind of properties can get this grant?</h2>


<p class="govuk-body">The property must:</p>
<ul class="govuk-list govuk-list--bullet">
<li>be in England, Wales, Scotland or Northern Ireland. Properties in the Channel Islands and Isle of Man cannot get this grant
<li>have a private off-street car park with at least 5 parking bays, which is connected to the property</li>
</ul>

<p class="govuk-body">You cannot get a grant if you need to lay cables over public land such as pavements, even if this is a temporary arrangement.</p>

<p class="govuk-body">This grant does not cover holiday rental properties.</p>

<h2 class="govuk-heading-m" id="how-much-is-the-infrastructure-grant-worth?">How much is the infrastructure grant worth?</h2>

<p>The grant will pay:
<ol class="govuk-list govuk-list--bullet">
  <li>£500 of every bay the infrastructure can charge at once</li>
  <li>£350 for each chargepoint socket you install.</li>
</ol>

<p class="govuk-body">The maximum you can claim in each year is £30,000.</p>


<h3 class="govuk-heading-s govuk-!-margin-top-4" id="how-the-grant-works">Example of how much the grant could be worth</h3>
<p class="govuk-body">To get the minimum infrastructure and chargepoint you would need to create the infrastructure to charge 5 EVs, and to install 1 chargepoint socket that can charge 1 EV.</p>

  <p class="govuk-body">5 x £500 + 1 x £350 = £2,850.</p>


<h2 class="govuk-heading-m" id="what-are-my-responsibilities-as-an-installer?">What are my responsibilities as an installer?</h2>

<p class="govuk-body">Only OZEV authorised installers can claim the grant on behalf of the domestic customer.</p>
<p><a href="https://forms.dft.gov.uk/ozev-authorised-installer-application/">Apply to be an OZEV authorised installer </a><p>

<p class="govuk-body">You must:</p>
<ol class="govuk-list govuk-list--bullet">
<li>tell your customer about their requirements for getting the grant</li>
<li>only use approved chargepoints [ADD LINK]. Note, commercial and residential properties have different approved chargepoints</li>
<li>make sure you test all the installed chargepoints to verify they fully functioning and meet safety requirements</li>
<li>keep all documentation about the installation, including schematic diagrams, installation and commissioning confirmations and certificates, photographs, customer declarations and signatures, dates of installation and the full address</li>
<li>notify the DNO of the installation in writing</li>
</ol>


<h2 class="govuk-heading-m govuk-!-margin-top-7" id="how-does-the-grant-process-work?">How does the grant process work?</h2>
<ol class="govuk-list govuk-list--number">
<li>The landlord will contact you about installing chargepoints.</li>
<li>The landlord will sign up for OZEV grants and then make an application based on a quote you agree on.</li>
<li>If their application is successful, you then have 90 days to do the installation.</li>
<li>When you finish the installation, you them make a claim, adding proof that you have completed the job</li>
<li>Your invoice will include a discount to cover the grant amount</li>
 </ol>

<p><a href="https://ev-grants.herokuapp.com/CarPark/iteration01/installer-step-by-step">See the step-by-step landlord infrastructure grant for installers</a><p>


<h2 class="govuk-heading-m govuk-!-margin-top-7" id="rules">Grant rules and restrictions</h2>
<ol class="govuk-list govuk-list--bullet">
<li>You can only claim for one address in each application.</li>
<li>Each application should be for one job and have a single invoice.</li>
<li>A twin or double chargepoint counts as 2 chargepoint sockets.</li>
<li>The grant approved amount is valid for 90 days from the application submission date. If the work is not completed within 90 days you will have the option to extend the approval period for another 90 days.</li>
</ol>

<h2 class="govuk-heading-m govuk-!-margin-top-7" id="other-grants">Other help you can get</h2>
<p class="govuk-body">There are other grants available for:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://www.gov.uk/guidance/workplace-charging-scheme-guidance-for-applicant">Businesses</a> - Workplace charging scheme (WCS)</li>
  <li><a href="https://energysavingtrust.org.uk/grants-and-loans/domestic-charge-point-funding/">Energy Savings Trust</a> - Domestic chargepoint funding in Scotland</li>
  <li><a href="https://www.gov.uk/government/publications/customer-guidance-electric-vehicle-homecharge-scheme/electric-vehicle-homecharge-scheme-guidance-for-customers">EV Homecharge Scheme (EVHS)</a> - for tenants only</li>
</ul>

</div>


{% endblock %}
