{% extends "layout.html" %}

{% block pageTitle %}
Check your answers before sending your application
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav> -->

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Blue Tick Properties</span>

    <h1 class="govuk-heading-xl">Check your answers for this property</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Property type
        </dt>
        <dd class="govuk-summary-list__value">
          Residential
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> previous application number</span>
          </a>
        </dd>
      </div> -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
              37 Scott Street
              <br>London
              <br>WC1N 1BC
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Private off-street parking
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Property type
            </dt>
            <dd class="govuk-summary-list__value">
              Bungalow
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount of sockets
            </dt>
            <dd class="govuk-summary-list__value">
              7
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
        </dl>


    <div class="govuk-button-group">
      <a class="govuk-button" data-module="govuk-button" href="reviewApplication.html">
        Review your application
      </a>
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Add another address to this application
      </button>
    </div>


  </div>
</div>


{% endblock %}
