{% extends "layout.html" %}

{% block pageTitle %}
What type of building is your property? -
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>

</nav> -->

  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Blue Tick Properties</span>

    <h1 class="govuk-heading-xl">What type of building is this property?</h1>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio"
              value="yes">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
              Apartment building 
            </label>
            <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
              <!-- A single building containing separate residential apartments -->
            </div>
          </div>
          <!-- <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio"
              value="yes">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
              Flat
            </label>
          </div> -->
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio"
              value="no">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
              Detached property
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio"
              value="no">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
              Semi-detached property
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio"
              value="no">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
              Terraced property
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio"
              value="no">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
              Bungalow
            </label>
          </div>
        </div>

      </fieldset>
    </div>

    <br>


    <div class="govuk-button-group">
      <a class="govuk-button" data-module="govuk-button" href="property-details">
        Continue
      </a>
    </div>


  </div>
</div>


{% endblock %}
