{% extends "layout.html" %}

{% block pageTitle %}
We have emailed your customer
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        We have emailed your customer
      </h1>
      <div class="govuk-panel__body">
        Application reference number<br><strong>#121212</strong>
      </div>
    </div>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
      We’ve sent an email to John Smith. They will need to follow the link in the email to complete their eligibility check.
    </p>
    <p class="govuk-body">
      We will contact you when they have completed their eligibility form. If they are eligible for the Electric Vehicles Homecharge Scheme, then you can continue with the install.
    </p>

    <p class="govuk-body">
      <a class="govuk-button" href="schemeHome">Check the progress of the application</a>
    </p>
  </div>
</div>


{% endblock %}