{% extends "layout.html" %}



{% block pageTitle %}
GOV guidance
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<style type="text/css">
.app-c-contents-list__list-item {
    padding-top: 10px;
    line-height: 1.3;
    list-style-type: none;
}
.app-c-contents-list__list-item {
    padding-top: 7.5px;
}
.app-c-contents-list__list-item--dashed {
    margin-left: -15px;
    padding-right: 25px;
}
.app-c-contents-list__list-item--dashed::before {
    content: "— ";
    margin-left: -25px;
    padding-right: 5px;
}

.part-navigation-container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #bfc1c3;
}
/*pagination */
.pub-c-pagination {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -15px;
    margin-right: -15px;
}
.pub-c-pagination__list {
    margin: 0;
    padding: 0;
}

@media (min-width: 641px)
.pub-c-pagination__item {
    font-size: 16px;
    line-height: 1.25;
}
.pub-c-pagination__item {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.1428571429;
    float: left;
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
    width: 50%;
}

.pub-c-pagination__link:visited {
    color: #005ea5;
}
a:visited {
    color: #4c2c92;
}
a:link {
    color: #005ea5;
}
.pub-c-pagination__link {
    display: block;
    padding: 15px;
    text-decoration: none;
}
@media (min-width: 641px)
.pub-c-pagination__link-title {
    font-size: 27px;
    line-height: 1.25;
}

.pub-c-pagination__link-title {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 20px;
    line-height: 1.1111111111;
    display: block;
}
.visually-hidden, .visuallyhidden {
    position: absolute;
    left: -9999em;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.pub-c-pagination__link-label {
    display: inline-block;
    margin-top: 0.1em;
    text-decoration: underline;
}

.pub-c-pagination__item--next {
    float: right;
    text-align: right;
}

@media (min-width: 641px)
.pub-c-pagination__item {
    font-size: 16px;
    line-height: 1.25;
}
.pub-c-pagination__item {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.1428571429;
    float: left;
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
    width: 50%;
}
.pub-c-pagination__list:after {
    content: "";
    display: block;
    clear: both;
}

.pub-c-pagination__item--previous {
    float: left;
    text-align: left;
}
.pub-c-pagination__item--next {
    float: right;
    text-align: right;
}


</style>


<div class="govuk-width-container">


    <div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-xl gem-c-title__context">
Guidance
</span>
<h1 class="govuk-heading-l">The electric vehicle infrastructure grant for residential car parks: Guidance for installers </h1>

<p class="pub-c-lead-paragraph">
The Office of Zero Emission Vehicles (OZEV) now pay grants to landlords, residents management companies, social housing providers, right to manage companies and property factors (in Scotland) to help with the cost of installing infrastructure for electric vehicle EV chargepoints in their rental property car parks.</p>

<p class="pub-c-lead-paragraph">This page has guidance on who can apply, how to apply, and the grant rules.</p>

<p class="pub-c-lead-paragraph">For guidance on how to apply for this grant, read the <a href="https://ev-grants.herokuapp.com/CarPark/iteration01/installer-step-by-step"> step-by-step guide for claiming the EV infrastructure grant for residential car parks for installers</a><p>

<aside class="part-navigation-container" role="complementary">

<nav role="navigation" class="app-c-contents-list " data-module="track-click" aria-label="Pages in this guide">
<h2 class="govuk-body-s">
Contents
</h2>

<ol class="gem-c-contents-list__list">
<li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
<a class="gem-c-contents-list__link govuk-link  govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label=" overview" data-track-options="" href="#overview">Overview</a>
</li>

<li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
<a class="gem-c-contents-list__link govuk-link  govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#What grants can landlords get?" data-track-options="" href="#What grants can landlords get?">What grants can landlords and property managers get?</a>
</li>

<li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
<a class="gem-c-contents-list__link govuk-link  govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#the-infrastructure-you-need-to-install" data-track-options="" href="#the-infrastructure-you-need-to-install">The infrastructure you need to install</a>
</li>

<li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
<a class="gem-c-contents-list__link govuk-link  govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#which-landlords-and-property-managers-can-apply?" data-track-options="" href="#which-landlords-and-property-managers-can-apply?">Which landlords and property managers can apply?</a>
</li>

<li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
<a class="gem-c-contents-list__link govuk-link  govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#what-kind-of-properties-can-get-this-grant?" data-track-options="" href="#what-kind-of-properties-can-get-this-grant?">What kind of properties are eligible?</a>
</li>

<li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
<a class="gem-c-contents-list__link govuk-link  govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#how-much-is-the-infrastructure-grant-worth?" data-track-options="" href="#how-much-is-the-infrastructure-grant-worth?">How much is the EV infrastructure grant worth?</a>
</li>


<li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
<a class="gem-c-contents-list__link govuk-link  govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#phow-does-the-grant-process-work?" data-track-options="" href="#how-does-the-grant-process-work?">How does the grant process work?</a>
</li>

<li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
<a class="gem-c-contents-list__link govuk-link  govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#what-you-can-claim" data-track-options="" href="#what-you-can-claim">What you can claim</a>
</li>

<li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
<a class="gem-c-contents-list__link govuk-link  govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#what-are-your-responsibilities-as-an-installer?" data-track-options="" href="#what-are-your-responsibilities-as-an-installer?">What are your responsibilities as an installer?</a>
</li>




<li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
<a class="gem-c-contents-list__link govuk-link  govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#other-grants" data-track-options="" href="#other-grants">Other help you can get</a>
</li>


</ol>
</nav>
</aside>


<h2 class="govuk-heading-m govuk-!-margin-top-7" id="Overview">Overview</h2>

<p class="govuk-body">The government wants to help businesses and organisations who rent, lease or manage residential properties install EV chargepoints in their car parks.</p>

<p class="govuk-body">The EV infrastructure grant for residential car parks will give landlords and property managers money towards the infrastructure they need for chargepoints, as well as for installing the chargepoints themselves. They have to use an authorized OZEV installer to get the grant.</p>

<p class="govuk-body">The grant means they do not have to install all the chargepoints the infrastructure allows. They can plan for the future by creating infrastructure now that can enable chargepoints later on.</p>

<p class="govuk-body">There is a separate and different grant for installing EV chargepoints without infrastructure. This is the <a href="https://ev-grants.herokuapp.com/mmvp/installer/installer-step-by-step"><b>EV chargepoint grant for landlords</b></a>.</p>



<h2 class="govuk-heading-m govuk-!-margin-top-7" id="What-grants-can-landlords-get?">What grants can landlords and property managers get for their car parks?</h2>

<p class="govuk-body">We have set up 2 grants to support residential landlords and property managers with the cost of installing EV chargepoints.

<p class="govuk-body"><b>The EV infrastructure grant for residential car parks</b> pays money towards the infrastructure your customer needs for chargepoints, as well as installing the chargepoints themselves.</p>

<p>To get this grant, the infrastructure must support at least 5 marked EV charging parking spaces. You must also install at least 1 chargepoint with 1 chargepoint socket</p>

<p class="govuk-body"><b>The EV chargepoint grant for landlords</b> pays money towards installing chargepoints only. This is a different grant from the one we are describing on this page. <a href="https://ev-grants.herokuapp.com/mmvp/installer/installer-step-by-step">Find out about the EV chargepoint grant for landlords</a>.</p>

<p class="govuk-body">If a landlord or property manager has already had the EV infrastructure grant for residential car parks and only needs to install chargepoints, they can apply for the EV chargepoint grant for landlords.</p>

<p class="govuk-body">They can also apply for the EV chargepoint grant for landlords if they have already had the infrastructure grant and now want to install further chargepoints.</p>


<h2 class="govuk-heading-m govuk-!-margin-top-7" id="the-infrastructure-you-need-to-install">The infrastructure you need to install</h2>

<p class="govuk-body">The infrastructure needs to include:</p>
<ul class="govuk-list govuk-list--bullet">
<li>a new electrical connection at a metered electrical supply point, such as a consumer unit or feeder pillar</li>
<li>a dedicated, safe, unobstructed route for electrical cabling from the electrical supply point to the installed chargepoints and any future connection locations </li>
<li>arrangements for the safe installation of an electric vehicle chargepoint</li>
</ul>

<h3 class="govuk-heading-s">Infrastructure for future chargepoints</h3>

<p class="govuk-body">You must install cabling from a metered power supply to the future chargepoint locations so that someone can install a future chargepoint, at a future date, with the minimum amount of infrastructure work.</p>

<p class="govuk-body">You can do this by installing, for example, a:</p>
<ul class="govuk-list govuk-list--bullet">
<li>busbar system with connection locations for future chargepoints</li>
<li>concrete plinth or footing for a future chargepoint that will be connected to a metered electricity supply </li>
</ul>

<p class="govuk-body">You must also make sure there is enough power for all the chargepoints and future connection locations. Making sure there is enough power may include:</p>
<ul class="govuk-list govuk-list--bullet">
<li>power upgrades to the local supply or network</li>
<li>applying load balancing solutions</li>
<li>upgrades to the building’s electrical control room</li>
</ul>

<h3 class="govuk-heading-s">Future chargepoint location routes</h3>

<p class="govuk-body">As part of the infrastructure, you must make dedicated, safe, unobstructed routes from the electrical supply point to each identified future connection location.</p>

<p class="govuk-body">A future installer should be able to lay or insert any extra electrical cabling from the electrical supply to a chargepoint location, without the need for builders’ work. You can achieve this using any combination of electrical containment systems, such as electric cable:</p>
<ul class="govuk-list govuk-list--bullet">
<li>ducting including drawstrings</li>
<li>trunking or conduits</li>
<li>trays and cable ladders</li>
</ul>

<h3 class="govuk-heading-s">Earthing arrangements</h3>

<p class="govuk-body">The infrastructure must include all earthing arrangements any chargepoints need. You must also identify if future chargepoint locations need for any earthing arrangements.</p>




<h2 class="govuk-heading-m govuk-!-margin-top-7" id="which-landlords-and-property-managers-can-apply?">Which landlords and property managers can apply?</h2>

<p class="govuk-body">This grant is for businesses and organisations who rent, lease or manage residential properties.</p>

<p class="govuk-body">They must have registered at Companies House or for VAT with HMRC. If they have not registered with either of these places, they will not be able to apply.</p>

 <p class="govuk-body">We will let private registered providers, charities and property factors who do not have a Companies House or VAT registration apply at a later date.</p>

<p class="govuk-body">They must be:</p>
<ul class="govuk-list govuk-list--bullet">
<li>landlords of residential property with property that they let or intend to let</li>
<li>right to manage (RTM) companies freeholders</li>
<li>residents’ management companies (RMCs)</li>
<li>companies owning the freehold</li>
<li>companies owning the building’s common areas including shareholders who are the leaseholders</li>
<li>leaseholders who have the freeholder’s consent to install a chargepoint</li>
<li>property factors (in Scotland)</li>
<li>private registered providers of social housing (PRP)</li>
<li>public authorities</li>
<li>housing associations</li>
<li>public landlords</li>
</ul>



<h2 class="govuk-heading-m govuk-!-margin-top-7" id="what-kind-of-properties-can-get-this-grant?">What kind of properties are eligible?</h2>


<p class="govuk-body">The property must:</p>
<ul class="govuk-list govuk-list--bullet">
<li>be in England, Wales, Scotland or Northern Ireland. Properties in the Channel Islands and Isle of Man can not get this grant</li>
<li>have an private off-street car park with at least 5 parking spaces, which is part of the property</li>
<li>be a multi-unit residential property such, as a block of flats, or an estate consisting of homes that share a common parking area.</li>
</ul>


<p class="govuk-body">If the property or car park is for mixed commercial and residential use, this grant will only pay towards parking spaces allocated to its residential units.</p>

<p class="govuk-body">The landlord or property manager must be able to show you that they have legal entitlement to the parking space if it is separate from the property. They may prove this showing you Land Registry title deeds.</p>



<h2 class="govuk-heading-m govuk-!-margin-top-7" id="how-much-is-the-infrastructure-grant-worth?">How much is the EV infrastructure grant for residential car parks worth?</h2>

<p class="govuk-body">The EV infrastructure grant for residential car parks pays towards both the infrastructure and any chargepoints that you install at the same time as the infrastructure.</p>

<h3 class="govuk-heading-s">How much for infrastructure?</h3>

<p class="govuk-body">Landlords and property managers can get up to £500 towards each EV charging socket the infrastructure will support, whether you install the sockets now or later.</p>

<h3 class="govuk-heading-s">How much for chargepoints?</h3>

<p class="govuk-body">Your customer can get up to £350 towards the cost of buying and installing each chargepoint socket.</p>

<h3 class="govuk-heading-s">Grant caps</h3>

<p class="govuk-body">The final amount of grant funding available cannot be more than:</p>
<ul class="govuk-list govuk-list--bullet">
<li>75% of the cost of the installation you charge your customer</li>
<li>£30,000 </li>

</ul>

<h3 class="govuk-heading-s">Example of how much the grant could be worth</h3>

<p class="govuk-body">To qualify for the grant, the minimum you would need to create is the infrastructure to support least 5 EV charging parking spaces and to install at least 1 chargepoint with 1 chargepoint socket.</p>

<p class="govuk-body">5 spaces supported by charging infrastructure = £2,500.</p>
<p class="govuk-body">1 chargepoint socket = £350</p>
<p class="govuk-body">Total = £2,850, as long as it is not more than 75% of the amount you charge your customer. In this case, £3,800.</p>



<h2 class="govuk-heading-m govuk-!-margin-top-7" id="how-does-the-grant-process-work?">How does the grant process work?</h2>
<ol class="govuk-list govuk-list--number">

<li>A landlord or property manager will contact you about installing chargepoints.</li>
<li>You must verify that the car park is eligible for the grant.</li>
<li>Your customer will then sign up for OZEV grants and make an application based on the quote for work that you both agree on.</li>
<li>If their application is successful, you then have 90 days to do the installation. You can extend this, for up to 1 year.</li>
<li>When you finish the installation, notify the relevant distribution network operator (DNO) and submit a BS7671 Electrical Installation Certificate.</li>
<li>Make a claim, adding proof that you have completed the job.</li>
<li>Your final invoice will include the total cost of the installation, including any VAT your charged, and the OZEV grant that reduces this total.</li>
<li>Once we have approved your claim, we will pay you the grant to you.</li>
</ol>

 <p class="pub-c-lead-paragraph">For guidance on how to apply for this grant, read the <a href="https://ev-grants.herokuapp.com/CarPark/iteration01/installer-step-by-step"> step-by-step guide of the landlord infrastructure grant for installers</a><p>

<h2 class="govuk-heading-m govuk-!-margin-top-7" id="what-you-can-claim">What you can claim</h2>

<p class="govuk-body">Along with the cost installing infrastructure listed above, the grant may also pay towards the cost of:</p>
<ul class="govuk-list govuk-list--bullet">
<li>any onsite software or hardware to manage and maintain the chargepoints </li>
<li>any communications equipment, such as wi-fi or cellular repeaters, that the chargepoints need</li>
<li>grid connections, but not any costs associated with grid reinforcement</li>
<li>concrete plinths or footings for future chargepoints</li>
<li>any associated signage</li>
<li>any associated reinstatement work</li>
<li>any associated vehicle barriers</li>
<li>the cost of chargepoint units</li>
<li>any additional electrical components or hardware required for the chargepoint units</li>
<li>civil engineering works</li>
<li>labour costs for installing chargepoints or infrastructure</li>
<li>project management and reporting costs</li>
<li>the VAT incurred by your customer. For enquiries relating to VAT, contact <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/vat-enquiries"> HMRC/VAT: general enquiries</a></li>
<li>site survey works when these lead to an installation you complete</li>
</ul>

<p class="govuk-body">The grant also covers the cost of an additional smart meter or current clamp device, as long as you install this at the same time as the chargepoints.</p>

<h3 class="govuk-heading-s">What you cannot claim</h3>

<p class="govuk-body">You cannot claim for:</p>
<ul class="govuk-list govuk-list--bullet">
<li>any ongoing software support or services</li>
<li>interest charges, bad debts, profits and entertaining</li>
<li>administration costs</li>
<li>maintenance costs</li>
<li>inflation and contingency allowances that you add as an extra percentage, beyond the eligible costs. However, you can include reasonable inflation rates in your labour and material cost estimates</li>
<li>electricity provided by relevant infrastructure</li>
<li>ongoing back-office data services</li>
<li>any other ongoing operating costs for example, maintenance or communication</li>
<li>any warranty extension beyond 3 years</li>
<li>transport costs</li>
<li>marketing costs</li>
<li>project management and reporting costs</li>
<li>any other cost not listed as eligible </li>
</ul>

<h2 class="govuk-heading-m govuk-!-margin-top-7" id="what-are-your-responsibilities-as-an-installer?">What are your responsibilities as an installer?</h2>

<p class="govuk-body">You must read:</p>
<ul class="govuk-list govuk-list--bullet">
<li><a href="tbc.gov.uk">Grant rules, restrictions and support for installers</a><p>
<li><a href="tbc.gov.uk">Grant technical requirements and regulations for installers</a><p>
</ul>

<p class="govuk-body">Only OZEV authorised installers can claim the grant on behalf of the domestic customer. <a href="https://forms.dft.gov.uk/ozev-authorised-installer-application/"> Apply to be an OZEV authorised installer</a>.<p>

<p class="govuk-body">The get the grant you need to follow these rules:</p>
<ol class="govuk-list govuk-list--number">
<li>Confirm who owns the car park.</li>
<li>Only use <a href="https://www.gov.uk/government/publications/electric-vehicle-homecharge-scheme-approved-chargepoint-model-list">approved chargepoints</a>.</li>
<li>Make sure your infrastructure and chargepoints meet or exceed the<a href="https://www.gov.uk/government/publications/electric-vehicle-homecharge-scheme-minimum-technical-specification/electric-vehicle-homecharge-scheme-minimum-technical-specification"> technical requirements</a>.</li>
<li>Do not claim for the same infrastructure or chargepoints more than once.</li>
<li>Test all the installed chargepoints to verify they are fully functioning and meet safety requirements.</li>
<li>Make sure there is adequate electrical supply for all the chargepoints and any future connections, once you apply load balancing technology.</li>
<li>Take photo evidence that shows you have completed the work and followed the grant rules.</li>
<li>Notify the DNO of the installation</li>
<li>Submit a BS7671 Electrical Installation Certificate.</li>
</ol>

<h3 class="govuk-heading-s">Consider chargepoint accessibility</h3>

<p class="govuk-body">When you install EV chargepoints, it is important to consider who may use them, particularly EV owners who may have disabilities or have mobility issues.</p>

<!-- <h2 class="govuk-heading-m" id="information-you-need-for-the-application">Information you need for the application</h2>

<h3 class="govuk-heading-s">1. Photo evidence of the chargepoint installation</h3>

<p class="govuk-body">You will need to upload photos of:</p>
<ul class="govuk-list govuk-list--bullet">
<li>each chargepoint you installed</li>
<li>the car park, showing where you installed chargepoints</li>
<li>the front of the residential property that the car park serves</li>
</ul>

 <h3 class="govuk-heading-s">2. Chargepoint details</h3>

 <p class="govuk-body">We will need:</p>
 <ul class="govuk-list govuk-list--bullet">
<li>the model of each chargepoint you install</li>
<li>the serial number of each chargepoint you install</li>
</ul>

<h3 class="govuk-heading-s">3. A diagram showing your installation</h3>

<p class="govuk-body">The diagram must show:</p>
<ul class="govuk-list govuk-list--bullet">
<li>the layout of the car park and its marked parking spaces</li>
<li>the electricity meter that supplies the chargepoints</li>
<li>the installed chargepoints</li>
<li>which parking spaces have chargepoint sockets</li>
<li>connection locations for any future chargepoints</li>
<li>the parking spaces that you are claiming for</li>
<li>cable routes between the electricity meter and any future chargepoints</li>
<li>a key describing any symbols or abbreviations you use</li>
</ul>

<p class="govuk-body">See an example template of a diagram</p>

<h3 class="govuk-heading-s">4. A copy of the invoice you gave to your customer</h3>

<p class="govuk-body">If you raised more than one invoice, you will need to produce a final invoice that includes your total charges to your customer.</p>

<p class="govuk-body">The invoice should clearly show:
<ul class="govuk-list govuk-list--bullet">
<li>the date you raised it </li>
<li>the customer’s details</li>
<li>the amount you charged your customer</li>
<li>the amount discounted because of the grant</li>
</ul>

<h2 class="govuk-heading-m govuk-!-margin-top-7" id="how-does-the-grant-process-work?">How does the grant process work?</h2>
<ol class="govuk-list govuk-list--number">
<li>A landlord or property manager will contact you about installing chargepoints.</li>
<li>You make a survey of the car park and do a quotation the landlord accepts
<li>Your customer will then sign up for OZEV grants and make an application based on the quote for work that you both agree on</li>
<li>If their application is successful, you then have 90 days to do the installation</li>
<li>When you finish the installation, you make a claim, adding proof that you have completed the job</li>
<li>Your invoice will include a discount to cover the grant amount</li>
<li>Once we have approved your claim, we will pay you the grant within 30 days</li>
 </ol>

<p><a href="https://ev-grants.herokuapp.com/CarPark/iteration01/installer-step-by-step">See the step-by-step EV infrastructure grant for installers</a><p>

-->


<h2 class="govuk-heading-m govuk-!-margin-top-7" id="other-grants">Other help you can get</h2>
<p class="govuk-body">There are other grants available for:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://www.gov.uk/guidance/workplace-charging-scheme-guidance-for-applicant">Businesses</a> - Workplace charging scheme (WCS)</li>
  <li><a href="https://energysavingtrust.org.uk/grants-and-loans/domestic-charge-point-funding/">Energy Savings Trust</a> - Domestic chargepoint funding in Scotland</li>
  <li><a href="https://www.gov.uk/government/publications/customer-guidance-electric-vehicle-homecharge-scheme/electric-vehicle-homecharge-scheme-guidance-for-customers">EV Homecharge Scheme (EVHS)</a> - for tenants only</li>
</ul>

</div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m" style="margin-top:12px">Other guidance about this grant</h2>

    <p><a href="https://ev-grants.herokuapp.com/CarPark/iteration01/installer-step-by-step">The step-by-step guide for claiming this grant for installers</a><p>

    <p><a href="https://ev-grants.herokuapp.com/CarPark/iteration01/installer-step-by-step">Grant rules, restrictions and support for installers</a><p>

    <p><a href="https://ev-grants.herokuapp.com/CarPark/iteration01/installer-step-by-step">Grant technical requirements and regulations for installers</a><p>

  </div>



</div>

</div>


{% endblock %}
