{% extends "layout.html" %}

{% block pageTitle %}
0-0-9 setup
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Car Park Grant</span>
    <h1 class="govuk-heading-xl">Iteration 03</h1>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Application process</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Who completes?</th>
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Installer</th>
          <td class="govuk-table__cell"> Installer journey for submitting a claim </td>
          <td class="govuk-table__cell"><a href="/CarPark/iteration03/installer-2/signIn">Go to prototype</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Landlord</th>
          <td class="govuk-table__cell">Landlord starts new application</td>
          <td class="govuk-table__cell"><a href="/CarPark/iteration03/landlord-application/start">Go to prototype</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">PMC application journey</th>
          <td class="govuk-table__cell">PMC starts new application</td>
          <td class="govuk-table__cell"><a href="/CarPark/iteration03/pmc-app/signIn">Go to prototype</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">SME registration journey</th>
          <td class="govuk-table__cell">Landlord starts new application</td>
          <td class="govuk-table__cell"><a href="/CarPark/iteration03/sme-reg/start">Go to prototype</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">SME application journey</th>
          <td class="govuk-table__cell">Landlord starts new application</td>
          <td class="govuk-table__cell"><a href="/CarPark/iteration03/sme-app/start">Go to prototype</a></td>
        </tr>
      </tbody>
    </table>

    <br>



    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">GOV.UK</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">What is it?</th>
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Guidance page</th>
          <td class="govuk-table__cell">Landlord guidance page</td>
          <td class="govuk-table__cell"><a href="landlord-grant-guidance">Go to prototype</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Guidance page</th>
          <td class="govuk-table__cell">Installer guidance page</td>
          <td class="govuk-table__cell"><a href="installer-grant-guidance">Go to prototype</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Step by step for installers</th>
          <td class="govuk-table__cell">a step by step for installers before they start the process</td>
          <td class="govuk-table__cell"><a href="installer-step-by-step">Go to prototype</a></td>
        </tr>
      </tbody>
    </table>


  </div>
</div>

{% endblock %}
