{% extends "layout.html" %}

{% block pageTitle %}
Enter your access code -
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Enter your access code</h1>

    <p>We just sent a 6 digit access code by text to *******219.</p>

    <p>It may take a few minutes to arrive.</p>

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
      </h1>
      <label class="govuk-label" for="width-20">
        Access code
      </label>
      <input class="govuk-input govuk-input--width-20" id="event-name" name="event-name" type="text">
    </div>


    <div class="govuk-button-group">
      <a class="govuk-button" data-module="govuk-button" href="access-code-confirmation">
        Continue
      </a>
    </div>

    <p><a href="">Get help with this page</a>
    </p>


  </div>
</div>


{% endblock %}
