{% extends "layout-installer-mvp.html" %}

{% block pageTitle %}
Resubmit your claim
{% endblock %}

{% block beforeContent %}

<style media="screen">
  .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
</style>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Resubmit your claim</h1>

    <p class="govuk-body">The claim you have submitted has been rejected.<br> <a href="review-claim"> View what you have submitted before</a>.</p>

    <p class="govuk-body">You have until <b>30 July 2022</b> to provide new evidence for this claim. Check what evidence you need to resubmit.</p>

<!-- <h1 class="govuk-heading-m govuk-!-margin-top-7">Claim details</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-7">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reference number
        </dt>
        <dd class="govuk-summary-list__value">390466
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Customer's name
        </dt>
        <dd class="govuk-summary-list__value">
          Sherborne Properties
        </dd>
      </div> -->
      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date you submitted this claim
        </dt>
        <dd class="govuk-summary-list__value">
      5 November 2021
        </dd>
      </div> -->
      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          14 Royal Road,<br>London,<br>EC1R 1XS
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"></span>
          </a>
        </dd>
      </div>
    </dl> -->


    <h2 class="govuk-heading-m govuk-!-margin-top-8">What was wrong and how to fix it</h2>
    <p class="govuk-body">You need to provide new evidence for the following:</p>

    <p class="govuk-body">Photos</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>Close-up photo of chargepoint 'IMG_12234.jpg', image is blurred
    </li>
    <li>Close-up photo of chargepoint 'IMG_12245.jpg', image is duplicate, provide unique image
    </li>
    <li>Photo of car park 'IMG_12255.jpg', image is blurred
    </li>
    <li>Photo of car park 'IMG_12256.jpg', image is blurred
    </li>
    <li>Photo of car park 'IMG_12257.jpg', image is blurred
    </li>
    </ul>
    <br>
    <p class="govuk-body">Diagram</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>Diagram is missing a key 'diagram1.pdf', image is blurred
    </li>
    </ul>
    <br>
    <p class="govuk-body">Invoice</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>The invoice does not match the total cost of installation you informed in your claim. The invoice to your customer must show the total installation cost and the discount from the grant.</li>
    </ul>




<!-- <div class="govuk-inset-text govuk-!-margin-top-9">
  <a href="review-claim">View what you have submitted before</a>
</div> -->

<h2 class="govuk-heading-m govuk-!-margin-top-9">Upload the new evidence you were asked to</h2>

<!-- <p class="govuk-body">You only need to what you we asked you to. </p> -->
  <form action="">
     <div class="govuk-form-group govuk-!-margin-top-7">
         <h3 class="govuk-heading-s">
           New photos or diagrams
         </h3>

         <!-- <p class="govuk-body">You only need to upload these if we asked you to. This may include:</p> -->
         <!-- <ul class="govuk-list govuk-list--bullet">
         <li>Photos of chargepoints</li>
         <li>Photos of a car park</li>
         <li>Diagram of a car park installation</li>
         </ul> -->

         <p class="govuk-!-margin-top-1 govuk-hint">The photos or diagrams must be a JPG, JPEG, PNG, GIF, PDF or BMP file and each one can be up to 10MB in size.</p>

       <label class="govuk-label visuallyhidden" for="file-upload-2">
         Upload new photos or diagrams
       </label>
         <input class="govuk-file-upload" id="file-upload-2" name="file-upload-2" type="file">
     </div>


  <form action="">
     <div class="govuk-form-group govuk-!-margin-top-9">
         <h3 class="govuk-heading-s">
           New invoice
         </h3>

      <!-- <p>You only need to upload a new invoice if we asked you to.</p> -->

        <!-- <p class="govuk-body">The invoice must show:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the total installation cost</li>
            <li>the discount from the grant</li>
          </ul> -->

        <p class="govuk-hint">You can only upload one file. If you sent your customer more than one invoice, add a final invoice that includes your total charges.</P>
        <p class="govuk-hint">The document needs to be in JPG, PNG, GIF, BMP, XLS, DOC or PDF formats.</p>

       <label class="govuk-label visuallyhidden" for="file-upload-2">
         Upload new invoice
       </label>
         <input class="govuk-file-upload" id="file-upload-2" name="file-upload-2" type="file">
     </div>


        <div class="govuk-!-margin-top-9">
          <a class="govuk-button" href="check-answers-resubmit"> Continue</a>
        </div>


  </div>
</div>


{% endblock %}
