{% extends "layout.html" %}

{% block pageTitle %}
Select the model of the vehicle
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Blue Tick Properties</span>

    <h1 class="govuk-heading-xl">Confirm your selected chargepoints</h1>

    <p>You can install more than one type of chargepoint at a property. Different types of chargepoint can be included in this application.</p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Manufacturer</th>
          <th scope="col" class="govuk-table__header">Family</th>
          <th scope="col" class="govuk-table__header">Model</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Char.gy</th>
          <td class="govuk-table__cell">CP01</td>
          <td class="govuk-table__cell">CP01</td>
          <td class="govuk-table__cell"><a href="chargepointModel.html">Edit chargepoint</td>
        </tr>
      </tbody>
    </table>

    <div class="govuk-button-group">
      <a class="govuk-button" href="checkYourAnswers">
        Confirm chargepoints
      </a>
    
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Add another type of chargepoint
      </button>
    </div>

  </div>
</div>


{% endblock %}
