{% extends "layout.html" %}

{% block pageTitle %}
Landlord Chargepoint Grant
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – We welcome <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Landlord Chargepoint Grant</span>
    <h1 class="govuk-heading-xl">Iteration 11 - test Zoe 28.10</h1>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">GOV.UK and registration</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header" style="text-align: right">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <!-- <tr class="govuk-table__row">
          <td class="govuk-table__cell">EV grants guidance page</td>
          <td class="govuk-table__cell" style="text-align: right"><a href=/iteration11/evgrants-guidance>Go to prototype</a></td>
        </tr> -->
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Landlord guidance page</td>
          <td class="govuk-table__cell" style="text-align: right"><a href=/iteration11/landlord-grant-guidance>Go to prototype</a></td>
        </tr>
        <!-- <tr class="govuk-table__row">
          <td class="govuk-table__cell">Start page (landlord journey)</td>
          <td class="govuk-table__cell" style="text-align: right"><a href="/registration/iteration2/landlord/email-only/start-register">Go to prototype</a></td>
        </tr> -->
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Start page (landlord journey)</td>
          <td class="govuk-table__cell" style="text-align: right"><a href="/iteration11/landlordReg/start-page">Go to prototype</a></td>
        </tr>
       <!-- <tr class="govuk-table__row">
          <td class="govuk-table__cell">Start page (PMC journey)</td>
          <td class="govuk-table__cell" style="text-align: right"><a href="/registration/iteration2/pmc/email-only/start-register">Go to prototype</a></td>
        </tr> -->

        <!-- <tr class="govuk-table__row">
          <td class="govuk-table__cell">Start page (PMC journey)</td>
          <td class="govuk-table__cell" style="text-align: right"><a href="/iteration10/pmcReg/start-register">Go to prototype</a></td>
        </tr> -->
      </tbody>
    </table>

    <table class="govuk-table govuk-!-margin-top-8">
      <caption class="govuk-table__caption govuk-table__caption--m">PMC/Landlord starting a new application journey</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header" style="text-align: right">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Landlord starts new application</td>
          <td class="govuk-table__cell" style="text-align: right"><a href="landlordApp/signIn">Go to prototype</a></td>
        </tr>
        <!-- <tr class="govuk-table__row">
          <td class="govuk-table__cell">PMC starts new application</td>
          <td class="govuk-table__cell" style="text-align: right"><a href=pmcApp/signIn>Go to prototype</a></td>
        </tr> -->
      </tbody>
    </table>


    <table class="govuk-table govuk-!-margin-top-8">
      <caption class="govuk-table__caption govuk-table__caption--m">Installer completing a claim</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header" style="text-align: right">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Installer journey for submitting a claim</td>
          <td class="govuk-table__cell" style="text-align: right"><a href=installer/signIn>Go to prototype</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
