{% extends "layout.html" %}

{% block pageTitle %}
Check your answers before sending your application
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav> -->

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Confirm the details of your installation</h1>

    <label class="govuk-label govuk-!-font-weight-bold" for="company-number">
        Customer name
    </label>
    <p class="govuk-body">Blue Tick Properties</p>

    <label class="govuk-label govuk-!-font-weight-bold govuk-!-margin-top-7" for="business-name">
        Number of change points installed
    </label>
    <p class="govuk-body">1 chargepoint<br>2 sockets</p>
    <p class="govuk-body"><a href="#">Edit number of chargepoints</a></p>

    <label class="govuk-label govuk-!-font-weight-bold govuk-!-margin-top-7" for="business-name">
        Address
    </label>
    <p class="govuk-body">Kemp House,<br>160 City Road,<br>London,<br>England,<br> EC1V 2NX</p>
    <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      The installation address is wrong
    </span>
  </summary>
  <div class="govuk-details__text">
If the address that your customer entered is incorrect, then this claim is invalid.</div>
</details>






    <div class="govuk-button-group">
      <a class="govuk-button" data-module="govuk-button" href="chargepoint1.html">
        Confirm and continue
      </a>

    </div>


  </div>
</div>


{% endblock %}
