{% extends "layout-installer-mvp.html" %}

{% block pageTitle %}
Upload a diagram of the car park
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a prototype – <a class="govuk-link" href="#">your feedback</a> to help us to improve this service.
        </span>
      </p>
    </div>
  </div>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


 <h1 class="govuk-heading-xl">Upload a diagram of the car park</h1>
    <div class="govuk-form-group govuk-!-margin-top-7">



  <h2 class="govuk-heading-s govuk-!-margin-top-8">The diagram must show:</h2>

  <!-- <p>You must upload a minimum of 2 photos of the installed chargepoint. You can upload up to 10 photos.</p> -->
      <ul class="govuk-list govuk-list--bullet">
        <li>the layout of the carpark and its bays</li>
        <li>the electricity meter that supplies the chargepoints</li>
        <li>the installed chargepoints</li>
        <li>which parking bays have chargepoint sockets</li>
        <li>connection locations for any future chargepoints</li>
        <li>show the parking bays that you are claiming for</li>
        <li>cable routes between the electricity meter and any future chargepoints</li>
        <li>a key describing any symbols or abbreviations you use</li>
      </ul>


<div class="govuk-form-group govuk-!-margin-top-7">

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        See an example of a diagram
      </span>
    </summary>
    <div class="govuk-details__text">
    <img src="https://i.ibb.co/vhFb2hB/diagram.png"  alt="This is an diagram of a car park showing the electrical infrastructure and connections to chargepoints">
  </details>

<!-- Multi file upload pattern from MOJ used as a reference
https://design-patterns.service.justice.gov.uk/components/multi-file-upload/ -->

<form action="">
  <div class="govuk-form-group">
    <label class="govuk-label" for="file-upload-1">
      You can upload up to 10  diagrams.
    </label>
    <p class="govuk-!-margin-top-1 govuk-hint">Diagrams need to be in JPG, PNG, GIF, BMP, XLS, DOC or PDF formats.<br> Maximum upload size is 10MB.</p>
    <div class="govuk-form-group govuk-!-margin-top-5">
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
    </div>

    <!-- <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file" multiple> -->
    <!-- <input type="submit"> -->
  <!--   <div class="moj-multi-file-upload__dropzone"><input class="govuk-file-upload moj-multi-file-upload__input" id="documents" name="documents" type="file" multiple=""><p class="govuk-body">Drag and drop files here or</p><label for="documents" class="govuk-button govuk-button--secondary">Choose files</label><div aria-live="polite" role="status" class="govuk-visually-hidden">Uploading files, please wait</div></div>
  </div>
  <!-- <button class="govuk-button govuk-button--secondary moj-multi-file-upload__button" data-module="govuk-button">
      Upload photos
  </button> -->
<form action="/action_page.php">
  </form>

  <div class="govuk-button-group govuk-!-margin-top-7">
    <a class="govuk-button" data-module="govuk-button" href="chargepoint-model">
      Save and continue
    </a>
   <!--<p><a href="chargepoint-dashboard.html">Remove chargepoint</a></p> -->

  </div>




  </div>
</div>


{% endblock %}
